  <div class="card login-form">
        
    <h1 class="card-header adventpro yellow text-center display-5"><%= t("travellers.add_traveller") %></h1>

    <div class="card-body">
      <div id="close-button"></div>

        <%= form_with(model: traveller, remote: true) do |form| %>

          <div class="container">

            <div class="row justify-content-center">
              <div class="col-sm-4 form-group text-center">
                <%= form.label t("travellers.gender"), class: "small" %>
                <%= form.select :gender, @genders_list.collect {|k, v| [v, k] }, {include_blank: t("general_forms.select")}, class: "form-control rounded border" %>
              </div>
            </div>

            <%= form.hidden_field :cart_id, :value => @current_user.cart.id %>
            <%= hidden_field_tag :traveller_js_date, form.object.birth_date %>

            <div class="row">
              <div class="col-sm form-group">
                <%= form.label t("travellers.first_name"), class: "small" %>
                <%= form.text_field :first_name, class: "form-control rounded border" %>
              </div>

              <div class="col-sm form-group">
                <%= form.label t("travellers.last_name"), class: "small" %>
                <%= form.text_field :last_name, class: "form-control rounded border" %>
              </div>
            </div>

            <div class="row">
              <div class="col-sm form-group">
                <%= form.label t("travellers.email"), class: "small" %>
                <%= form.text_field :email_address, class: "form-control rounded border" %>
              </div>
              
              <div class="col-sm form-group">
                <%= form.label t("travellers.address"), class: "small" %>
                <%= form.text_field :address, class: "form-control rounded border" %>
              </div>
            </div>

            <div class="row">
              <div class="col-sm form-group">
                <%= form.label t("travellers.zip_code"), class: "small" %>
                <%= form.text_field :zip_code, class: "form-control rounded border" %>  
              </div>

              <div class="col-sm form-group mb-0">  
                <%= form.label t("travellers.birth_date"), class: "small" %>
                  <div class="form-group">
                      <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                          <%= form.text_field :birth_date, class: "form-control datetimepicker-input", "data-target" => "#datetimepicker1" %>
                          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm form-group">
                <%= form.label t("travellers.nationality"), class: "small" %>
                <%= form.select :nationality, @nationalities_list.collect {|k, v| [v, k] }, {include_blank: t("general_forms.select")}, class: "form-control rounded border" %>
              </div>

              <div class="col-sm form-group">
                <%= form.label t("travellers.phone"), class: "small" %>
                <br>
                <div class="d-flex flex-row">
                  <%= form.telephone_field :phone_number, class: "form-control" %>
                  <span class="input-group-text" id="validation-status"><%= fa_icon "circle", class:"px-1" %></span>
                </div>
                <%= form.hidden_field :phone_validation, value: "" %>
              </div>
            </div>

            <div class="blackline"></div>

            <div class="container small-padding text-center">
              <%= render 'travellers/partials/food_explanations' %>
            </div>

            <div class="row">
              <div class="col-sm-6 text-center">
                <%= form.label t("travellers.food_diets"), class: "small" %>
                <div id='food_diets_div'>
                  <%= form.fields_for :diet_travellers do |diet_traveller| %>
                    <%= render 'diet_traveller_fields', f: diet_traveller %>
                  <% end %>
                  <div class='links'>
                    <%= link_to_add_association t("travellers.add_word"), form, :diet_travellers, class: "btn btn-stylised adventpro my-2", id:"add_food_diets_association" %>
                  </div>
                </div> 
              </div> 
            
              <div class="col-sm-6 text-center">
                <%= form.label t("travellers.food_restrictions"), class: "small" %>
                <div id='food_restrictions_div'>
                  <%= form.fields_for :restriction_travellers do |restriction_traveller| %>
                    <%= render 'restriction_traveller_fields', f: restriction_traveller %>
                  <% end %>
                  <div class='links'>
                    <%= link_to_add_association t("travellers.add_word"), form, :restriction_travellers, class: "btn btn-stylised adventpro my-2", id: "add_food_restrictions_association" %>
                  </div>
                </div>
              </div> 
            </div>

            <div class="blackline"></div>

            <div class="row">
              <div class="col-sm form-group">
                <%= form.label t("travellers.medical_remarks"), class: "small" %>
                <%= form.text_field :medical_condition, class: "form-control rounded border" %>
              </div>
              
              <div class="col-sm form-group">
                <%= form.label t("travellers.other_remarks"), class: "small" %>
                <%= form.text_field :additional_comment, class: "form-control rounded border" %>
              </div>
            </div>

            <div class="blackline"></div>

              <div class="form-check mx-5 my-3">
                <%= form.check_box :valid_passport, class:"form-check-input", style:"margin-top: 7px;" %>          
                <%= form.label :valid_passport, class:"form-check-label" do %> 
                  <%= render 'travellers/partials/check_valid_passport' %>
                <% end %>
              </div>

              <div class="form-check mx-5 my-3">
                <%= form.check_box :sanitary_conditions, class:"form-check-input", style:"margin-top: 7px;" %>          
                <%= form.label :sanitary_conditions, class:"form-check-label" do %> 
                  <%= render 'travellers/partials/check_sanitary_conditions' %>
                <% end %>
              </div>

              <div class="form-check mx-5 my-3" id="minor-checkbox" style="display: none;">
                <%= form.check_box :accompanied_minor, class:"form-check-input", style:"margin-top: 7px;" %>          
                <%= form.label :accompanied_minor, class:"form-check-label" do %> 
                  <%= render 'travellers/partials/check_accompanied_minor' %>
                <% end %>
              </div>

            <div class="blackline"></div>

            <div class="actions">
              <%= form.submit t("general_forms.submit"), class: "mb-3 btn btn-lg btn-stylised btn-block adventpro" %>
            </div>
          </div>

    </div>
  </div>

<% end %>

<script>
$('.btn-group [checked="checked"]').parent().addClass("active");

$("#traveller_phone_number").intlTelInput({
    initialCountry: "FR",
    formatOnInit: true,
    separateDialCode: false,
});

$("#traveller_phone_number").change(function() {
  var telInput = $("#traveller_phone_number");
  var validInput = $("#validation-status");
  var hiddenInput = $("#traveller_phone_validation");
  if ($.trim(telInput.val())) {
    if (telInput.intlTelInput("isValidNumber")) {
      validInput.html("<%= escape_javascript(fa_icon "check", class:"text-success") %>");
      hiddenInput.val("valid");
    } else {
      validInput.html("<%= escape_javascript(fa_icon "times", class:"text-danger") %>");
      hiddenInput.val("invalid");
    }
  }
});
</script>

<script>
var dateSelector = $ ("#traveller_js_date").val().toString()
var selectedDate = dateSelector === "" ? null : moment(dateSelector, 'YYYY-MM-DD');

$(document).ready(function(){
  $('#datetimepicker1').datetimepicker({
    date: selectedDate,
    format: 'DD-MM-YYYY',
    allowInputToggle: true,
    viewMode: 'years',
  });
});
</script>

<script>
$("#datetimepicker1").on("change.datetimepicker", function () {
  var currentDate = moment()
  var selectedDate = $("#datetimepicker1").datetimepicker('date');
  var yearDiff = currentDate.diff(selectedDate, 'years')
    if (yearDiff < 18) {
      $('#minor-checkbox').show();
    } else {
      $('#minor-checkbox').hide();
    };
});
</script>

