<% trips.each do |trip| %>
    <% unless user_signed_in? && current_user.cart.present? && current_user.cart.trips.include?(trip) %>
    <div class="trip-content" id="trip<%= trip.id %>">

        <div class="circleBase type2"> 
            <span class="small"><b><%= departure_city(trip)%></b></span>
        </div>
        
        <div class="image-container-travel">

            <div>
                <%= image_tag(trip.picture, class: "trip-picture") %>
            </div>

            <div class="text-block-week adventpro">
                <p><%= t('trips.week') %> <%= trip.week %> : <%= trip.name %></p>
                <%= t('trips.departure') %>: <%= departure_city(trip) %> - <%= trip.departure_date.to_formatted_s(:long_ordinal) %>
                <br>
                <%= t('trips.arrival') %>: <%= arrival_city(trip) %> - <%= trip.arrival_date.to_formatted_s(:long_ordinal) %>
                <p><%= t('trips.seats_remaining') %>:
                    <% if trip.remaining_seats_count > 3 %>
                        <%= trip.remaining_seats_count %></p>
                    <% elsif trip.remaining_seats_count != 0 && trip.remaining_seats_count < 3 %>
                        <span class="font-weight-bold text-danger"><%= t('trips.only') %> <%= trip.remaining_seats_count %> <%= t('travel.left') %>!</span></p>
                    <% elsif trip.remaining_seats_count == 0 %>
                        <span class="font-weight-bold text-danger"><%= t('trips.sold_out') %></span></p>
                    <% end %>
                <span class="trip-days"><%= (trip.arrival_date - trip.departure_date).to_i %> <span class="small"><%= t('trips.days') %></span></span>
                <span class="trip-price"><%= trip.price %>€</span>                  
            </div>

            <button class="btn btn-stylised btn-details" type="button" data-toggle="collapse" data-target="#collapse<%= trip.week %>" aria-expanded="false" aria-controls="collapseExample">
                <%= t('trips.more_details') %>
            </button>

        </div>

        <div class="contaier-fluid collapse" id="collapse<%= trip.week %>">
            <div class="text-block-description">
                <p><%= trip.description %></p>
                    <% if user_signed_in? && trip.is_full? %>
                        <div class="container text-center">                     
                            <p class="btn btn-stylised"><%= t('trips.trip_is_full') %>!</p>
                        </div>
                    <% elsif user_signed_in? %>
                        <div class="container text-center">                     
                            <%= button_to t('trips.add_to_cart'), {:controller => "trips", :action => "add_to_cart", :trip_id => trip.id}, {class: "btn btn-stylised", remote: true} %>
                        </div>
                    <% else %>
                        <div class="container text-center">                     
                            <%= link_to t('trips.book_trip'), user_session_path, class: "btn btn-stylised", remote: true %>
                        </div>
                    <% end %>
            </div>
        </div>

    </div>
    
    <% end %>

<% end %>
