<div id="trip<%= trip.id %>-content" style="position: relative;">
    <div class="grey-filter-overlay">
        <h1>SOLD OUT</h1>
    </div>
    <div class="grey-filter"></div>
    <div class="image-container-travel">
        <%= image_tag(trip.picture, class: "trip-picture") %>
        <div class="text-block-week adventpro">
            <div class="marker-img-count">
                <p class="mb-1 font-weight-bold"><%= trip.week %></p>
            </div>

            <h5 class="dincondensed mb-3"><%= t('trips.week') %> <%= trip.week %>: <%= trip.name.to_plain_text %></h5>
            <p style="line-height: 1px;"><span class="font-weight-bold"><%= t('trips.departure') %>:</span> <%= trip.departure_date.strftime("%d.%m.%Y") %> - <%= departure_city(trip) %> [<%= find_country_code(departure_country(trip)) %>]</p>
            <p style="line-height: 1px;"><span class="font-weight-bold"><%= t('trips.arrival') %>:</span> <%= trip.arrival_date.strftime("%d.%m.%Y") %> - <%= arrival_city(trip) %> [<%= find_country_code(arrival_country(trip)) %>]</p>

            <h2 class="dincondensed float-right mx-4"><%= trip.price %>€</h2>   
            <% if trip.crossed_out_price %>
                <h4 class="dincondensed crossed-out mx-4"><sup><%= trip.crossed_out_price %>€</sup></h4>
            <% end %>  
            <h2 class="dincondensed float-right mx-4"><%= (trip.arrival_date - trip.departure_date).to_i %> <%= t('trips.days') %></h2>             
        </div>
    </div>
</div>