<% trips.each do |trip| %>
        
    <div class="container small-padding my-2" id="trip<%= trip.id %>">

        <div class="container trips-names px-0">
            <div class="mr-2" style="position: absolute; bottom: 0; right: 0; font-size: 15px;">
                <%= arrival_city(trip) %>
            </div>
            <div class="mr-2" style="position: absolute; top: 0; right: 0; font-size: 15px;">
                <%=  departure_city(trip) %>
            </div>
        </div>

        <div class="container trips-dots px-0" id="trip<%= trip.id %>-dot">
            <div style="position: absolute; bottom: 0;">
                <%= fa_icon "circle" %>
            </div>
            <div class="dots-line"></div>
            <div style="position: absolute; top: 0;">
                <%= fa_icon "circle" %>
            </div>
        </div>

        <div class="container trips px-0">
            <% if current_user && current_user.cart.trips.include?(trip) %>
                <%= render "trip_in_cart", trip: trip %>
            <% elsif trip.is_full? %>
                <%= render "trip_is_full" %>
            <% elsif trip.is_expired? || trip.is_blocked? %>
                <%= render "trip_is_expired", trip: trip %>
            <% else %>
                <%= render "trip_bookable", trip: trip %>
            <% end %>
        </div>
        
    </div>

<% end %>

