<section>
<% if active_season %>

    <% if user_signed_in? %>
        <div id="cart">
            <%= render "layouts/cart" %>
        </div>
    <% end %>
    
    <div>
        <%= image_tag "/images/bus-font.jpg", class: "image-cover" %>
    </div>

    <div>
        <h1 class="title-box text-center dincondensed">
            <%= t('travel.travel_with_magicbus') %>
        </h1>
    </div>

    <blackline/>
    
</section>

    <div class="bus-map-container mb-5">
        <div id="bus-map"></div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center text-center">

            <div class="col-sm-3 border rounded shadow-sm mx-2 my-2 p-3" id="dates-sort">
                <%= render "trips/dates_sort" %>
            </div>
            
            <div class="my-auto small yellow">OR</div>
            
            <div class="col-sm-3 border rounded shadow-sm mx-2 my-2 p-3">
                <p><%= t('travel.sort_by_country') %></p>
                <%= select :country, :select, @countries_list.map {|v| [ v ] }, {}, class: "form-control rounded border my-5" %>
            </div>

            <div class="my-auto small yellow">OR</div>

            <div class="col-sm-3 border rounded shadow-sm mx-2 my-2 p-3">
                <p><%= t('travel.sort_by_theme') %></p>
                <%= select :theme, :select, @thematics_list.map {|v| [ v ] }, {}, class: "form-control rounded border my-5" %>
            </div>

        </div>

        <div class="text-center">
            <button id="date-reset" class="btn btn-stylised shadow-sm my-3"><%= t('travel.reset_fields') %></button>
        </div>

    </div>

    <div class="container-fluid trips" id="trips-sort">
        <%= render partial: "trips", locals: {trips: @trips} %>
    </div>

    <% provide :head_tags do %>
        <meta name='turbolinks-visit-control' content='reload'>
        <script>
            document.addEventListener("DOMContentLoaded", function(){
                initMap();
            });
        </script>
    <% end %> 

    <% else %>

    <div class="container-fluid top-margin">
        <div class="card mx-auto col-lg-6 m-1 border-warning px-0 border shadow-sm" style="background:#ffe475;">
        <div class="card-header py-1">
            <p class="h1 my-auto text-center"><%= t('travel.no_trips_yet') %>!</p>
        </div>
        <div class="text-center my-3">
            <p class="small"><%= t('travel.come_later') %>.</p>
            <%= link_to "Home", root_path, class: "adventpro btn btn-stylised border border-warning" %>
        </div>
        </div>
    </div>

<% end %>

<script>    
    var trips = [
        <% if @trips %>
            <% @trips.each do |trip| %>
                {id: "<%= trip.id %>", week: "<%= trip.week %>", departure: "<%= departure_city(trip) %> <%= departure_country(trip) %>", arrival: "<%= arrival_city(trip) %>", name: "<%= trip.name %>"},
            <% end %>
        <% end %>
    ]
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<script>
$(document).ready(function() {
  $('#country_select').change(function() {
    $('#theme_select').val('All');
    $.ajax({ url: '/travel/sort-trips-country/' + this.value });
  });
});

$(document).ready(function() {
  $('#theme_select').change(function() {
    $('#country_select').val('All');
    $.ajax({ url: '/travel/sort-trips-theme/' + this.value });
  });
});

$("#date-reset").click(function() {
    $('#theme_select').val('All');
    $('#country_select').val('All');
    $.ajax({ url: '/travel/sort-trips-date/reset'  });

});
</script>



