<section>

    <div id="cart">
        <%= render "layouts/cart" %>
    </div>
    
    <div>
        <%= image_tag "/images/index_travel.jpg", class: "image-cover" %>
    </div>

    <div class="container my-5">
        <h1 class="first-title text-center"><%= t('travel.travel_with_magicbus') %></h1>
    </div>

<section class="mb-5">
    <div class="container w-75">
        <div class="row">
            <div class="col-sm-12 col-md-4 my-2">
                <a class="btn btn-block btn-stylised p-3 adventpro" href="#produits"><%= t("travel.products").upcase %></a>
            </div>
            <div class="col-sm-12 col-md-4 my-2">
                <a class="btn btn-block btn-stylised p-3 adventpro" href="#privatisation"><%= t("travel.privatisation").upcase %></a>
            </div>
            <div class="col-sm-12 col-md-4 my-2">
                <a class="btn btn-block btn-stylised p-3 adventpro" href="#roadtrip"><%= t("travel.magic_roadtrip").upcase %></a>
            </div>
        </div>
    </div>
</section>

    <div class="blackline"></div>

    <div class="mb-4">
    <h1 class="info-title text-center"><%= t("travel.what_to_know") %></h1>
    <h4 class="info-title-small text-center mb-5"><%= t("travel.before_travelling") %></h4>
        <div class="container small-padding text-center">
                <p class="btn btn-stylised adventpro" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <%= t("travel.show_me") %>!
                </p>
            <div class="collapse" id="collapseExample">
                <%= image_tag "/images/travel_infographie_#{I18n.locale}.png", class: "img-fluid" %>
            </div>
        </div>
    </div>

    <div class="container smallest-padding text-center my-5">
        <%= render "faq" %>
    </div>
    
</section>

<div class="blackline"></div>

<section id="produits" class="my-5">
    <div class="container">
        <h1 class="first-title text-center"><%= t("travel.products") %></h1>
    </div> 

    <% if @product_trips.any? %>
        <div class="container">
            <% @product_trips.each_slice(3) do |trip_row| %> 
                <div class="row justify-content-center">
                    <% trip_row.each do |trip| %>
                        <div class="col-md-4 col-sm-12 my-2">
                            <%= render "trips/product_trip", trip: trip %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% else %>
        <div class="container-fluid mb-5">
            <div class="card mx-auto col-lg-6 m-1 border-warning px-0 border shadow-sm background-yellow">
                <div class="card-header py-1">
                    <p class="h1 my-auto text-center"><%= t('travel.no_trips_yet') %>!</p>
                </div>
                <div class="text-center my-3">
                    <p class="small"><%= t('travel.come_later') %>.</p>
                </div>
            </div>
        </div>
    <% end %>
</section>

<div class="blackline"></div>

<section id="privatisation" class="my-5">
    <div class="container">
        <h1 class="first-title text-center"><%= t("travel.privatisation") %></h1>
    </div>

    <% if @private_trips.any? %>
        <div class="container">
            <% @private_trips.each_slice(3) do |trip_row| %> 
                <div class="row justify-content-center">
                    <% trip_row.each do |trip| %>
                        <div class="col-md-4 col-sm-12 my-2">
                            <%= render "trips/private_trip", trip: trip %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% else %>
        <div class="container-fluid mb-5">
            <div class="card mx-auto col-lg-6 m-1 border-warning px-0 border shadow-sm background-yellow">
                <div class="card-header py-1">
                    <p class="h1 my-auto text-center"><%= t('travel.no_trips_yet') %>!</p>
                </div>
                <div class="text-center my-3">
                    <p class="small"><%= t('travel.come_later') %>.</p>
                </div>
            </div>
        </div>
    <% end %>

    <div class="container text-center mt-3">
        <% if user_signed_in? %>
            <%= button_to t('travel.general_devis'), new_trip_quotation_path, method: :get,  class: "btn btn-stylised adventpro", remote: true %>
        <% else %>
            <%= link_to user_session_path, class:"btn btn-stylised adventpro", remote: true do %>
                <%= t('travel.general_devis') %>
            <% end %>
        <% end %>
    </div>
</section>

<div class="blackline"></div>

<section id="roadtrip" class="my-5">

    <div class="container">
        <h1 class="first-title text-center"><%= t("travel.magic_roadtrip") %></h1>
    </div>

    <% if active_season %>

        <div class="container smallest-padding">
            <%= @active_season.description %>
        </div>

        <svg class="svg-travel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200"><path fill="#e9d520" fill-opacity="1" d="M0,160L60,133.3C120,107,240,53,360,42.7C480,32,600,64,720,96C840,128,960,160,1080,165.3C1200,171,1320,149,1380,138.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

        <div class="bus-map-container pb-5">
            <div id="bus-map"></div>
            <p class="text-center mt-2"><%= t("travel.map_text") %></p>
        </div>
        
        <div class="container my-5">
            <div class="row justify-content-center text-center">

                <div class="col-sm-3 border rounded shadow-sm mx-3 my-2 p-3" id="dates-sort">
                    <%= render "trips/dates_sort" %>
                </div>
                
                <div class="my-auto small yellow"><%= t("trips.or_word") %></div>
                
                <div class="col-sm-3 border rounded shadow-sm mx-3 my-2 p-3">
                    <p><%= t('travel.sort_by_country') %></p>
                    <%= select :country, :select, @countries_list.map {|v| [v] }, {}, class: "form-control rounded border my-5" %>
                </div>

                <div class="my-auto small yellow"><%= t("trips.or_word") %></div>

                <div class="col-sm-3 border rounded shadow-sm mx-3 my-2 p-3">
                    <p><%= t('travel.sort_by_theme') %></p>
                    <%= select :theme, :select, @thematics_list.map {|v| [v.name, v.id] }.prepend("All"), {}, class: "form-control rounded border my-5" %>
                </div>

            </div>

            <div class="text-center">
                <button id="date-reset" class="btn btn-stylised shadow-sm my-3"><%= t('travel.reset_fields') %></button>
            </div>

        </div>

        <section id="trips-sort">
            <%= render partial: "trips", locals: {trips: @trips} %>
        </section>

        <% provide :head_tags do %>
            <meta name='turbolinks-visit-control' content='reload'>
            <script>
                document.addEventListener("DOMContentLoaded", function(){
                    initMap();
                });
            </script>
        <% end %> 

    <% else %>

        <div class="container-fluid mb-5">
            <div class="card mx-auto col-lg-6 m-1 border-warning px-0 border shadow-sm background-yellow">
                <div class="card-header py-1">
                    <p class="h1 my-auto text-center"><%= t('travel.no_trips_yet') %>!</p>
                </div>
                <div class="text-center my-3">
                    <p class="small"><%= t('travel.come_later') %>.</p>
                </div>
            </div>
        </div>

    <% end %>
</section>

<div class="blackline"></div>
<%= render "layouts/newsletter_footer_form" %>


<script>    
    var trips = [
        <% if @trips %>
            <% @trips.each_with_index do |trip, index| %>
                {week: "<%= trip.week %>", departure_lat: {lat: <%= latlng_departure_location(trip).map{|k, v| v}.first %>, lng: <%= latlng_departure_location(trip).map{|k, v| v}.last %>}, arrival_lat: {lat: <%= latlng_arrival_location(trip).map{|k, v| v}.first %>, lng: <%= latlng_arrival_location(trip).map{|k, v| v}.last %>}, url: "#trip<%= trip.id %>-content"},
            <% end %>
        <% end %>
    ]
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<script>
$(document).ready(function() {
  $('#country_select').change(function() {
    $('#theme_select').val('All');
    $.ajax({ url: '/' + I18n.currentLocale() + '/travel/sort-trips-country/' + this.value });
  });
});

$(document).ready(function() {
  $('#theme_select').change(function() {
    $('#country_select').val('All');
    $.ajax({ url: '/' + I18n.currentLocale() + '/travel/sort-trips-theme/' + this.value });
  });
});

$("#date-reset").click(function() {
    $('#theme_select').val('All');
    $('#country_select').val('All');
    $.ajax({ url: '/' + I18n.currentLocale() + '/travel/sort-trips-date/reset'  });

});
</script>

