<%= render "story/sidenav" %>

<section>
    <div id="once-upon-time">
        <%= image_tag "/images/chill.jpg", class: "image-cover" %>
    </div>

  <div class="container smaller-margin my-5">
      <p class="h1 dincondensed text-center"><%= t('story.once_upon_a_time') %></p>
  </div>

    <blackline/>
</section>

<section>

    <div id="idea-new-zealand" class="container smaller-padding py-4">
        <h4 class="text-center brandon-g h6 font-weight-bold">1. <%= t('story.an_idea') %></h4>

        <div class="container p-0">
            <%= image_tag "/images/story1.jpg", class: "story-img" %>
        </div>

        <%= render 'an_idea' %>

    </div>

    <div id="a-concept-canada" class="container smaller-padding py-4">
        <h4 class="text-center brandon-g h6 font-weight-bold">2. <%= t('story.a_concept') %></h4>

            <div class="container p-0">
                <%= image_tag "/images/story2.jpg", class: "story-img" %>
            </div>

        <%= render 'a_concept' %>

    </div>

    <div id="made-for-europe" class="container smaller-padding py-4">
        <h4 class="text-center brandon-g h6 font-weight-bold">3. <%= t('story.a_project') %></h4>

            <div class="container p-0">
                <%= image_tag "/images/story3.jpg", class: "story-img" %>
            </div>

        <%= render 'a_project' %>

    </div>

    <blackline/>

</section>

<section>
    <div class="container smaller-padding">
        <h1 class="text-center dincondensed"><%= t :magicpeople %></h1>
        <h1 class="text-center brandon-g h5 my-3"><%= t('story.guardian_angels') %></h1>

        <%= render 'they_support_us' %>

        <div class="row no-gutters justify-content-center text-center mx-5 mt-5">
            <% @xlsx.drop(1).in_groups_of(46) do |group| %>
                <div class="col-lg-4">
                    <% group.each do |row| %>
                        <p style="line-height: 0.5;"><%= row.to_a.join(" ") %></p>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>

</section>

