<div class="card login-form-small text-center">
      
      <h1 class="card-header adventpro yellow text-center display-5"><%= current_user.first_name %> <%= current_user.last_name %></h1>

      <div class="card-body">

        <div id="close-button">
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, remote: true) do |f| %>

        <div class="row">

          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :email, class: "small" %>
              <br>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded border form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= link_to t("general_forms.change_password"), edit_user_path, class: "btn btn-stylised", remote: true %>
            </div>

            <div class="form-group">
              <%= f.label :newsletter, class: "small" %>
              <br>
              <% if current_user.gibbon_status == true %> 
                <%= link_to "Unsubscribe", newsletter_delete_subscribtion_path, method: :post, class: "btn btn-danger" %>
              <% else %>
                <%= link_to "Subscribe", newsletter_add_subscribtion_path, method: :post, class: "btn btn-success" %>
              <% end %>
            </div>
          </div>

          <div class="col-sm-6 mx-auto my-auto">
            <div class="row justify-content-center">
              <% if @user.picture.attached? %>
                  <%= image_tag(@user.picture, height: 100, width: 100, class: "rounded my-2") %> 
              <% else %>
                  <%= fa_icon "user", class: "fa-4x my-4" %>
              <% end %>
            </div>

            <div class="custom-file text-center mx-auto">
              <%= f.file_field :picture, class:"custom-file-input", id:"filePicture" %>
              <%= f.label :picture, "Avatar", class:"custom-file-label", for:"filePicture" %>
            </div>

          </div>

        </div>

        <div class="container mt-3">
          <div class="row justify-content-center">
            <div class="col-sm-4 my-1">
                <%= f.submit t("general_forms.update"), class: "btn btn-stylised btn-block adventpro" %>
            </div>
            <div class="col-sm-4 my-1">
                <%= link_to t("general_forms.delete_account"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-stylised btn-block adventpro" %>
            </div>
          </div>
        </div>

        <% end %>

      </div>

</div>

<script>
// Show name of file when uploading images
$('.custom-file-input').on('change', function() { 
   let fileName = $(this).val().split('\\').pop(); 
   $(this).next('.custom-file-label').addClass("selected").html(fileName); 
});
</script>