<div class="container top-margin">
  <div class="card login-form-inpage text-center">
    <h1 class="card-header adventpro yellow text-center display-5">Password Change</h1>
    <div class="card-body"> 
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group text-center">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group text-center">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit t("general_forms.submit"), class: "btn btn-lg btn-stylised btn-block adventpro" %>
        </div>
      <% end %>
    </div>
  </div>
</div>