<%= video_tag "/videos/home_video.mp4", playsinline: :playsinline, autoplay: :autoplay, loop: :loop, muted: :muted, id: "home_video" %>

<div id="grayfilter" class="stop-flickering"></div>

<section>
<div class="container top-margin-larger">
    <div class="container text-center my-auto">
        
        <div class="container text-center travel-animate">
            <%= render "layouts/travel_basics_svg" %>
        </div>

        <div class="container mx-auto yellow annietelescope mt-3 moving-hostel">
        <h4><%= t('home.moving_hostel') %>!</h4>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-lg-3 my-3">
                    <%= link_to discover_path do %>
                        <div class="categoryWrapper stop-flickering">
                            <h2 class="annietelescope"><%= t('home.discover') %></h2>  
                        </div>
                    <% end %>
                </div>

                <div class="col-sm-6 col-lg-3 my-3">
                    <%= link_to trips_path do %>
                        <div class="categoryWrapper stop-flickering">
                            <h2 class="annietelescope"><%= t('home.travel') %></h2>
                        </div>
                    <% end %>
                </div>

                <div class="col-sm-6 col-lg-3 my-3">
                    <%= link_to places_path do %>
                        <div class="categoryWrapper stop-flickering">
                            <h2 class="annietelescope"><%= t('home.share') %></h2>
                        </div>
                    <% end %>
                </div>
                
                <div class="col-sm-6 col-lg-3 my-3">
                    <%= link_to story_path do %>
                        <div class="categoryWrapper stop-flickering">
                            <h2 class="annietelescope"><%= t('home.story') %></h2>  
                        </div>
                    <% end %>
                </div>

            </div>
        </div>

    </div>
</div>
</section>

<script>
// Animation SVG
var path = document.querySelector('.travel-animate path');
var length = path.getTotalLength();
// Clear any previous transition
path.style.transition = path.style.WebkitTransition =
  'none';
// Set up the starting positions
path.style.strokeDasharray = length + ' ' + length;
path.style.strokeDashoffset = length;
// Trigger a layout so styles are calculated & the browser
// picks up the starting position before animating
path.getBoundingClientRect();
// Define our transition
path.style.transition = path.style.WebkitTransition =
  'stroke-dashoffset 12s ease-in-out';
// Go!
path.style.strokeDashoffset = '0';
</script>