<div>

    <%= video_tag "/videos/home_video.mp4", playsinline: :playsinline, autoplay: :autoplay, loop: :loop, muted: :muted, id: "home_video" %>
    
    <div id="grayfilter" class="stop-flickering">
    
        <div class="maintitle-container text-center">
            
            <div class="container-fluid travel-animate mx-auto">
                <%= render "layouts/travel_basics_svg" %>
            </div>

            <div class="container mainpageblock">

                <div class="row">

                    <div class="col">
                        <%= link_to discover_path do %>
                            <div class="categoryWrapper stop-flickering">
                                <h2 class="annietelescope"><%= t('home.discover') %></h2>  
                                <button>
                                <span>
                                    <span>
                                    <span class="adventpro" data-attr-span="About the MagicBus project !">
                                        <%= t('home.about') %>
                                    </span>
                                    </span>
                                </span>
                                </button>
                            </div>
                        <% end %>
                    </div>

                    <div class="col">
                        <%= link_to story_path do %>
                            <div class="categoryWrapper stop-flickering">
                                <h2 class="annietelescope"><%= t('home.story') %></h2>  
                                <button>
                                <span>
                                    <span>
                                    <span class="adventpro" data-attr-span="About the MagicBus project !">
                                        <%= t('home.learn_more') %>
                                    </span>
                                    </span>
                                </span>
                                </button>
                            </div>
                        <% end %>
                    </div>

                    <div class="col">
                        <%= link_to places_path do %>
                            <div class="categoryWrapper stop-flickering">
                                <h2 class="annietelescope"><%= t('home.share') %></h2>
                                <button>
                                <span>
                                    <span>
                                    <span class="adventpro" data-attr-span="With the MagicCommunity !">
                                    <%= t('home.give_us_hand') %>
                                    </span>
                                    </span>
                                </span>
                                </button>
                            </div>
                        <% end %>
                    </div>

                    <div class="col">
                        <%= link_to trips_path do %>
                            <div class="categoryWrapper stop-flickering">
                                <h2 class="annietelescope"><%= t('home.travel') %></h2>
                                <button>
                                <span>
                                    <span>
                                    <span class="adventpro" data-attr-span="Book your trip with MagicBus !">
                                        <%= t('home.book_trip') %>
                                    </span>
                                    </span>
                                </span>
                                </button>
                            </div>
                        <% end %>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
var path = document.querySelector('.travel-animate path');
var length = path.getTotalLength();
// Clear any previous transition
path.style.transition = path.style.WebkitTransition =
  'none';
// Set up the starting positions
path.style.strokeDasharray = length + ' ' + length;
path.style.strokeDashoffset = length;
// Trigger a layout so styles are calculated & the browser
// picks up the starting position before animating
path.getBoundingClientRect();
// Define our transition
path.style.transition = path.style.WebkitTransition =
  'stroke-dashoffset 12s ease-in-out';
// Go!
path.style.strokeDashoffset = '0';
</script>