<div class="traveller-info">
  
  <div class="row text-center no-gutters p-2">

    <div class="col-sm-3 my-auto">
      <p><b><%= traveller.first_name %> <%= traveller.last_name %></b></p>
      <p class="small"><%= traveller.email_address %></p>
    </div>

    <div class="col-sm-9 my-auto py-3">
      <div class="row no-gutters">

      <div class="col">
        <p class="small">Insurance:</p>
        <% if traveller.insurance_status == true %>
          <p>Yes</p>
        <% else %>
          <p>No</p>
        <% end %>
      </div>

      <div class="col">
        <p class="small">Special Diet:</p>
        <% if traveller.food_diets.nil? %>
          <p>None</p>
        <% else %>
          <p><%= traveller.food_diets.name %></p>
        <% end %> 
      </div>

      <div class="col">
        <p class="small">Food Restriction:</p>
        <% if traveller.food_restrictions.nil? %>
          <p>None</p>
        <% else %>
          <p><%= traveller.food_restrictions.name %></p>
        <% end %>
      </div>

      <div class="col my-auto">
        <%= fa_icon "check lg" %>
      </div>

      </div>
    </div>

  </div>

  <div class="row text-center no-gutters py-2">
    <div class="col px-2">
      <%= link_to edit_traveller_path(traveller), remote: true, class: "btn btn-primary btn-block" do %>
        <p>Edit</p>
      <% end %>
    </div>

    <div class="col px-2">
      <p class="btn btn-info btn-block">More Info</p>
    </div>

    <div class="col px-2">
      <%= link_to traveller, method: :delete, class: "btn btn-danger btn-block" do %>
        <p>Delete</p>
      <% end %>
    </div>
  </div>

</div>

