<div class="row justify-content-center mt-3">

  <% @paid_orders.each do |order| %>
    <div class="card col-9 m-1 px-0 py-4 border-0 shadow-sm my-2 rounded-pill" style="background:#ffe475;">
      
      <div class="row no-gutters my-auto">

        <div class="col-9">
          <p class="mb-0 ml-4">Order N°<span class="font-weight-bold"><%= order.name %></span>, paid on <span class="font-weight-bold"><%= order.paid_at.strftime("%d/%m/%Y") %></span> | Total: <span class="font-weight-bold"><%= order.total_price %>€</span> Tax incl.</p>
        </div>

        <div class="col-1 my-auto small mx-2">
          <%= link_to "Invoice EN", order_path(order, format: :pdf), class: "pdf-btn" %>
        </div>   

        <div class="col-1 my-auto small mx-2">
          <%= link_to "Facture FR", order_path(order, format: :pdf), class: "pdf-btn" %>
        </div>   
      </div>

    </div>
  <% end %>

</div>