<div class="mb-3">
    <h3>Forfait</h3>
    <p>Sauf exception mentionnée dans la description des voyages sélectionnés (ci-dessus):</p>
</div>

<div class="my-3">
    <div class="row">
        <div class="col-6">
            <h6>Le prix comprend:</h6>
            <ul class="small">
                <li>le logement: lit confortable à bord d’un bus réaménagé en auberge de jeunesse (draps et coussins compris).</li>
                <li>le transport durant la période de séjour (péage & essence). </li>
                <li>les potentiels coûts de parking et camping</li>
                <li>la participation au pot commun (petit-déjeuner et repas du soir, que nous cuisinerons tous ensemble)</li>
                <li>la mise à disposition d’équipement de loisir à bord</li>
                <li>Douche chaude et toilettes</li>
                <li>le trajet pour venir chercher le(s) voyageur(s) à l’aéroport</li>
                <li>certaines activités comprise et précisée dans la description du voyage.</li>
            </ul>
        </div>
        <div class="col-6">
            <h6>Ne comprends pas:</h6>
            <ul class="small">
                <li>billets d’avion et autres transports pour rejoindre le bus</li>
                <li>autres activités (ski, tours payants, bateau, sports divers, etc)</li>
                <li>le repas du midi</li>
                <li>Restaurants et boissons alcoolisées</li>
                <li>linge de toilette</p>
            </ul>
        </div>
    </div>
</div>

<div class="row justify-content-center no-p-margin">
    <div class="col-6">
        <h3>Annulation</h3>
        <p>Selon l'article L. 211-14 du Code du Tourisme, le voyage peut-être annulé par l'organisateur ou l'agence si le nombre minimum de 2 participants n'est pas inscrit, 20 jours avant la date de départ.</p>
        <p>Voir la <a href="#" target="_blank" class="pdf-btn">politique d'annulation</a>.</p>
    </div>

    <div class="col-6">
        <h3>Assurance</h3>
        <p>Retrouvez les modalités et couvertures de <a href="#" target="_blank" class="pdf-btn">l'assurance voyageur optionnelle</a>.</p>
    </div>
</div>

<div>
    <h3 class="my-4">Détail du paiement</h3>

    <div class="table-responsive small">
        <table class="table table-bordered">
        <thead>
            <tr class="table-active">
            <th scope="col" style="width: 40%;">Services</th>
            <th scope="col" style="width: 20%;">Prix TTC</th>
            <th scope="col" style="width: 20%;">Quantité</th>
            <th scope="col" style="width: 20%;">TOTAL TTC</th>
            </tr>
        </thead>
        <tbody>
            <% order.trips.each do |trip| %>
            <tr>
            <th scope="row" class="table-active">Semaine <%= trip.week %></th>
            <td class="text-right"><%= trip.price %>€</td>
            <td class="text-right"><%= order.travellers.count %></td>
            <td class="text-right"><%= trip.price * order.travellers.count %>€</td>
            </tr>
            <% end %>
            <tr>
            <th scope="row" class="table-active">Optionnel: Assurance</th>
            <td class="text-right">15€</td>
            <td class="text-right"><%= order.travellers.where(insurance_status: true).count %></td>
            <td class="text-right"><%= order.travellers.where(insurance_status: true).count * 15 %>€</td>
            </tr>
            <%# <tr>
            <th scope="row">Optional: Specific Food Diets</th>
            <td>-30</td>
            <td>1</td>
            <td>-30</td>
            </tr> %>
        </tbody>
        </table>
    </div>
</div>



