<div class="row justify-content-center mt-3">

    <% @recent_orders.each do |order| %>
        <div class="card col-9 m-1 px-0 shadow-lg rounded-lg my-2" style="background:#CACACA; border: none;">
        
            <div class="card-header py-1 text-center">
                <p class="h5 my-auto">Order <%= order.name %>: <%= order.total_price_calc %>€</p>
                <%= button_to order, method: :delete, class:"btn btn-danger position-absolute m-1 px-1 py-0", style:"top:0; right:0;" do %>
                    <%= fa_icon "trash" %>
                <% end %>
            </div>

            <h2 class="text-center my-2 dincondensed">Travellers</h2>

            <div class="row h-100 no-gutters my-auto justify-content-center">
                <% order.travellers.each do |traveller| %>
                    <%= render "orders/traveller", traveller: traveller %>
                <% end %>
            </div>

            <h2 class="text-center my-2 dincondensed">MagicTrips</h2>

            <div class="row h-100 no-gutters my-auto justify-content-center">
                <div class="col-9 my-auto py-2">       
                    <% order.trips.each do |trip| %>
                        <%= render "orders/trip", trip: trip %>
                    <% end %>
                </div>
            </div>

            <% if order.coupon %>
                <div>Current Code: <%= order.coupon.code %>
                <div><%= order.coupon.reduction_percentage %>% Reduction</div>
            <% else %>
                <div class="container-fluid my-1 text-center">
                    <%= link_to order_promo_code_path(order), class: "btn btn-stylised", remote: true do %>
                        <p class="small my-auto">PROMO CODE</p>
                    <% end %>
                </div>
            <% end %>

            <div class="col text-center">
                <%= link_to order_new_payment_path(order), remote: true, class:"btn btn-stylised w-50 my-2 border border-warning" do %>
                    <p class="m-0">PAY</p>
                <% end %>
            </div>
    
        </div>
    <% end %>
</div>