<div class="card col-sm-4 col-10 m-1 border-warning px-0 border shadow-sm my-2" style="background:#ffe475; line-height: 0.3em;"> 

    <div class="card-header py-1 mb-3 text-center h4">
        <%= traveller.first_name %> <%= traveller.last_name %>
    </div>

    <p>Email: <%= traveller.email_address %></p>
    <p>Nationality: <%= traveller.nationality %></p>
    <p>Address: <%= traveller.address %> <%= traveller.zip_code %></p>
    <p>Phone: <%= traveller.phone_number %></p>
</div>