<div class="no-p-margin">
<div class="row justify-content-center">
        <% order.travellers.each_with_index do |traveller, index| %>
            
        <% index += 1 %>
        <div class="col-sm-12 col-lg-8 my-4">
            <div class="grey-heading mb-4">
                <div class="row no-gutters text-center">
                    <div class="col-lg-6 col-sm-3">
                        <h5 class="mb-0 py-2">Traveller <%= index %></h5>
                    </div>
                    <div class="col-lg-3 col-sm-3 my-auto">
                        <p class="mb-0"><span class="font-weight-bold">Insurance</span>:
                        <% if traveller.insurance_status == true %>
                            Oui</p>
                        <% else %>
                            Non</p>
                        <% end %>
                    </div>
                    <div class="col-lg-3 col-sm-3 my-auto">
                        <p class="mb-0"><span class="font-weight-bold">Nourriture</span>:
                        <% if traveller.food_participation == true %>
                            Oui</p>
                        <% else %>
                            Non</p>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5">
                    
                    <div class="row">
                        <p class="font-weight-bold">Name:</p>
                        <% if traveller.gender == "male" %>
                            <p>Mr. <%= traveller.last_name %>, <%= traveller.first_name %></p>
                        <% else %>
                            <p>Mrs. <%= traveller.last_name %>, <%= traveller.first_name %></p>
                        <% end %>
                    </div>
                    
                    <div class="row">
                            <p class="font-weight-bold">Email:</p>
                            <p><%= traveller.email_address %></p>
                    </div>

                    <div class="row">
                            <p class="font-weight-bold">Nationality:</p>
                            <p><%= translated_nationality(traveller) %></p>
                    </div>

                    <div class="row">
                            <p class="font-weight-bold">Phone:</p>
                            <p><%= traveller.phone_number %></p>
                    </div>
                    
                    <div class="row">
                            <p class="font-weight-bold">Address:</p>
                            <p><%= traveller.address %>, <%= traveller.zip_code %></p></p>
                    </div>
                </div>


                <div class="col-5">
                    <div class="row">
                            <p class="font-weight-bold">Food Diets:</p>
                            <% if traveller.food_diets.empty?%>
                                <p>None</p>
                            <% else %>
                                <p><%= traveller.food_diets.map{|x| x.name}.join(",") %></p>
                            <% end %>
                    </div>
                    <div class="row">
                            <p class="font-weight-bold">Food Restrictions:</p>
                            <% if traveller.food_restrictions.empty?%>
                                <p>None</p>
                            <% else %>
                                <p><%= traveller.food_diets.map{|x| x.name}.join(",") %></p>
                            <% end %>
                    </div>
                    <div class="row">
                            <p class="font-weight-bold">Santé:</p>
                            <p>Santé</p>
                    </div>
                    <div class="row">
                            <p class="font-weight-bold">Commentaire:</p>
                            <p>Commentaire</p>
                    </div>
                </div>

            </div>
        </div>
        <% end %>
</div>
</div>