<% @user_orders.each do |order| %>
  <div class="card col-lg-6 m-1 border-warning px-0 border shadow-sm" style="background:#ffe475;">
    
    <div class="card-header py-1">
      
      <p class="small my-auto">Order <%= order.id %>: <%= order.total_price %>€</p>

      <% if order.payment_status == false %>
        <%= button_to order, method: :delete, class:"btn btn-danger position-absolute m-1 px-1 py-0", style:"top:0; right:0;" do %>
          <p class="mb-0" style="font-size: 10px; color: black;">X</p>
        <% end %>
      <% else %>
        <button class="btn btn-success position-absolute m-1 px-1 py-0" style="top:0; right:0;">
          <p class="mb-0" style="font-size: 10px; color: black;">✓</p>
        </button>
      <% end %>
    </div>

    <div class="row h-100 no-gutters my-auto">

      <div class="col-12 my-auto py-2">

        <div class="row no-gutters">
          <div class="col px-1">
            <%= button_to order, class:"btn btn-info btn-block", style:"top:0; right:0;" do %>
              <p class="mb-0">More Info</p>
            <% end %>
          </div>

          <% unless order.payment_status == true %>
            <div class="col px-1">
              <%= button_to edit_order_path(order), method: :get, remote: true, class: "btn btn-warning btn-block" do %>
                <p class="mb-0">Edit</p>
              <% end %>              
            </div>
          <% end %>

        </div>

      </div>
    </div>

    <% if order.payment_status == false %>
    <div class="col text-center">
      <%= link_to order_new_payment_path(order), remote: true, class:"btn btn-stylised w-50 my-2 border border-warning" do %>
        <p class="m-0">Pay with <%= image_tag "/images/stripe-card-logo2.png", class:"img-fluid", size: "65" %></p>
      <% end %>
    </div>
    <% elsif order.payment_status == true %>
    <div class="row h-100 no-gutters my-auto">
      <p class="btn btn-stylised">View Invoice</p>
    </div>   
    <% end %>   

  </div>
<% end %>
