<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <%= wicked_pdf_image_tag '/images/logo_black.png', class:"img-fluid" %>
            </td>

            <td>
              Commande#: <b><%= @order.name %></b>
              <br>
              Payée le: <b><%= @order.paid_at.strftime('%d/%m/%Y') %></b>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td>
              <b>SARL MagicBus</b><br>
              N° Immatriculation: IM031190014<br>
              31 Résidence du Château, 31150 Fenouillet<br>
              hello@magicbusworld.com<br>
              +33 6 59 09 11 65
            </td>

            <td>
              <b>Client</b><br>
              <%= @order.details['charges']['data'][0]['billing_details']['name'] %><br>
              <%= @order.details['charges']['data'][0]['billing_details']['email'] %><br>
              <%= @order.details['charges']['data'][0]['billing_details']['address']['line1'] %>, <%= @order.details['charges']['data'][0]['billing_details']['address']['postal_code'] %> 
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>Transaction</td>
      <td colspan="2"></td>
      <td class="right"></td>
    </tr>

    <tr class="details">
      <td><b>Réf. Stripe: </b> <%= @order.details['id'] %></td>
      <td><b>Méthode de règlement: </b><%= @order.details['charges']['data'][0]['payment_method_details']['card']['brand'].upcase %>, **** **** **** <%= @order.details['charges']['data'][0]['payment_method_details']['card']['last4'] %>, Exp: <%= sprintf('%02d', @order.details['charges']['data'][0]['payment_method_details']['card']['exp_month']) %>-<%= @order.details['charges']['data'][0]['payment_method_details']['card']['exp_year'] %></td>
    </tr>

    <tr class="heading">
      <td>Voyages</td>
      <td class="right">Prix Unitaire</td>
      <td class="right">Nbr Voyageurs</td>
      <td>Total</td>
    </tr>

    <% @order.trips.each do |trip| %>
      <tr class="item">
          <td>
              <%= trip.name %><br>          </td>

          <td class="right">
              <%= trip.price %>€
          </td>

          <td class="right">
              x<%= @order.travellers.count %>
          </td>

          <td>
              <%= trip.price * @order.travellers.count %>€
          </td>
      </tr>
    <% end %>

    <tr>
      <td colspan="4"></td>
    </tr>

    <% if @order.coupon_id?%>
    <tr>
      <td colspan="2"></td>
      <td><b>Remise (<%= @order.coupon.reduction_percentage %>%)</b></td>
      <td>- <%= @order.total_price - @order.total_price_calc %>€</td>
    </tr>
    <% end %>

    <% unless @order.travellers.where(food_participation: false).empty? %>
    <tr>
      <td colspan="2"></td>
      <td><b>Régimes alimentaires particuliers: x<%= @order.travellers.where(food_participation: false).count %></b></td>
      <td>- <%= @order.travellers.where(food_participation: false).count * Cart::FOOD_PARTICIPATION_PRICE %>€</td>
    </tr>
    <% end %>

    <tr class="heading">
      <td colspan="2"></td>
      <td><b>TOTAL:</b></td>
      <td>
          <b><%= @order.total_price_calc %>€</b>
      </td>
    </tr>
  </table>
</div>

<div class="page-break"></div>

<div class="big-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "180x180" %>
    <p>CONTRAT DE VOYAGE</p>
    <p>FORFAIT TOURISTIQUE</p>
</div>

<p class="main-titles">1. IDENTIFICATION DES PARTIES</h1>

<div class="text-container">
  <p class="secondary-titles">"LE DETAILLANT"</p>
  <div class="p-text">
    <p><span class="b">Nom:</span> MagicBus</p>
    <p><span class="b">Dénomination sociale de l'entreprise:</span> SARL MagicBus</p>
    <p><span class="b">N° Immatriculation:</span> IM031190014</p>
    <p><span class="b">Adresse:</span> 31 Résidence du Château, 31150 Fenouillet.</p>
    <p><span class="b">N° de télephone:</span> 06.59.09.11.65</p>
    <p><span class="b">E-mail:</span> hello@magicbusworld.com</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">"L'ORGANISATEUR"</p>
  <div class=p-text>
    <p><span class="b">Nom:</span> MagicBus</p>
    <p><span class="b">Dénomination sociale de l'entreprise:</span> SARL MagicBus</p>
    <P><span class="b">Immatriculation:</span> IM031190014</p>
    <p><span class="b">Adresse:</span> 31 Résidence du Château, 31150 Fenouillet.</p>
    <p><span class="b">N° de téléphone:</span> 06.59.09.11.65</p>
    <p><span class="b">E-mail</span> hello@magicbusworld.com</p>
  </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>CONTRAT DE VOYAGE</p>
    <p>FORFAIT TOURISTIQUE</p>
</div>

<p class="main-titles">2. VOYAGEUR(S)</p>

<div class="text-container">
  <p class="secondary-titles">CLIENT</p>
  <div class="p-text">
    <p><span class="b">Nom:</span> <%= @order.details['charges']['data'][0]['billing_details']['name'] %></p>
    <p><span class="b">Adresse:</span> <%= @order.details['charges']['data'][0]['billing_details']['address']['line1'] %></p>
    <p><span class="b">Code postal:</span> <%= @order.details['charges']['data'][0]['billing_details']['address']['postal_code'] %></p>
    <p><span class="b">Pays:</span> <%= @order.details['charges']['data'][0]['billing_details']['address']['country'] %></p>
    <p><span class="b">E-mail:</span> <%= @order.details['charges']['data'][0]['billing_details']['email'] %></p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">VOYAGEUR(S)</p>
  <% @order.travellers.each_with_index do |traveller, index| %>
    <% index += 1 %>
      <p class="traveller-title">VOYAGEUR <%= index %></p>
      <div class="p-text">
        <p><span class="b">Nom:</span> <%= traveller.first_name %></p>
        <p><span class="b">Prénom:</span> <%= traveller.last_name %></p>
        <p><span class="b">Date de naissance:</span> <%= traveller.birth_date.strftime('%d-%m-%Y') %></p>
      </div>
  <% end %>
</div>

<div class="text-container">
  <div class="p-text-no-margin">
    <div class="form-check">
      <% if @order.rgpd_validated == false %>
      <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
      <% else %>
      <input class="form-check-input" type="checkbox" value="" id="data-check1">
      <% end %>
      <label class="form-check-label" for="data-check1">
        <p>La personne concluant le présent contrat accepte de transmettre ses données dans le but de son exécution et garanti qu’il a recueilli le consentement des autres voyageurs aux mêmes fins.</p>
      </label>
    </div>
    <div class="form-check">
      <% if @order.rgpd_validated == false %>
      <input class="form-check-input" type="checkbox" value="" id="data-check2" checked>
      <% else %>
      <input class="form-check-input" type="checkbox" value="" id="data-check2">
      <% end %>
      <label class="form-check-label" for="data-check2">
        <p>La personne concluant le présent contrat accepte de transmettre ses données aux fins de recevoir nos promotions et sollicitations (via courriers électroniques, messages SMS, appels téléphoniques et courriers postaux):</p>
      </label>
    </div>
    <p>Les données sont conservées pendant une durée qui n’excède pas la durée nécessaire aux finalités suivantes:</p>
    <ul>
      <li><p>Commande d’un séjour : les données nécessaires au traitement de votre commande seront conservées pendant la durée nécessaire à l’établissement d’un droit ou d’un contrat.</p></li>
      <li><p>Gestion de la relation commerciale : les données seront conservées (au plus tard) 3 ans à compter de la fin de la relation commerciale.</p></li>
    </ul>
    <p>Conformément à la législation en vigueur, vous disposez d’un droit d’accès, de rectifica3on, de suppression et de portabilité des données personnelles vous concernant et d’un droit d’opposition pour raison légitime à leur traitement.</p>
    <p>Pour exercer ces droits, vous devez adresser un courrier postal à l'adresse suivante : 31 résidence du château 31150 Fenouillet ou un courrier électronique à : <a href="#">hello@magicbusworld.com</a></p>
  </div>
</div>

<div class="page-break"></div>
<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>CONTRAT DE VOYAGE</p>
    <p>FORFAIT TOURISTIQUE</p>
</div>

<p class="main-titles">3. INFORMATIONS VOYAGE(S)</p>

<div class="text-container">
  <p class="secondary-titles">DETAIL DES VOYAGES RESERVES</p>
  <div class="p-text">
    <p><span class="b">Type:</span> Séjour itinérant</p>
    <p><span class="b">Numéro de réservation:</span> <%= @order.name %> 
  </div>
  <% @order.trips.each_with_index do |trip, index| %>
    <% index += 1 %>
    <p class="traveller-title">VOYAGE <%= index %></p>
      <div class="p-text">
        <p>Départ le <%= trip.departure_date.strftime("%d-%m-%Y") %> à <%= trip.departure_location['locality'] %>, <%= trip.departure_location['country'].upcase %></p>
        <p>Arrivée le <%= trip.arrival_date.strftime("%d-%m-%Y") %> à <%= trip.arrival_location['locality'] %>, <%= trip.departure_location['country'].upcase %></p>
      </div>
  <% end %>
</div>

<div class="text-container">
  <p class="secondary-titles">PAYS TRAVERSE(S)</p>
  <div class="p-text-no-margin">
    <p>Durant les voyages stipulés dans la rubrique précédente, les voyageurs traverserons les pays suivants:</p>
    <p class="b"><%= @order.trips.order(:week).map{|x| x.departure_location['country']}.uniq.join(",") %></p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">TRANSPORT</p>
  <div class="p-text-no-margin">
    <p class="subhead">• Caractéristiques, moyen, catégorie</p>
    <p>Le transport pour rejoindre le bus à l’allé et rejoindre le domicile du client au retour ne sont pas pris en charge dans ce forfait.</p>
    <p>Le transport durant le voyage, depuis la récupération du voyageurs au point de départ jusqu’au dépôt de ce dernier au point d’arrivée à la fin du séjour, est effectué en autobus.</p>
    <p class="subhead">• Horaires</p>
    <p>L’heure de départ de chaque voyage est une heure approximative qui vous sera précisée ultérieurement.
    <br>
    <span class="b">Heure de départ approximative : 16h30.</span></p>
    <p class="subhead">• Durée et lieux des arrêts</p>
    <p>La durée et les lieux d’arrêts ne sont pas connues au moment de l’établissement du contrat, puisque les escales seront décidées sur place en collaboration avec les autres voyageurs. Il s’agit là d’un principe fondamental et typique du type de voyage proposé par l’entreprise MagicBus.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">ITINERAIRE & HEBERGEMENT</p>
  <div class="p-text-no-margin">
    <p>Le forfait sélectionné est un voyage en itinérance, à bord d’un bus réaménagé en auberge de jeunesse dans lequel le(s) client(s) seront transporté(s) et logé(s) pour toute la durée du séjour. Les étapes sont improvisées à bord en collaboration avec les autres voyageurs.</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
        <label class="form-check-label" for="data-check1">
          <p>Programme communiqué au client</p>
        </label>
      </div>
    <p class="b">Nombre de nuits par voyage: 7 nuits</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">REPAS & SANTE</p>
  <div class="p-text-no-margin">
    <p>La participaWon au pot commun, servant à l’achat des aliments nécessaires au petit-déjeuner ainsi qu’à un repas par jour, est comprise dans le forfait par default. Il n’est exclu qu’en cas de restriction alimentaire très spécifiques (ex: vegan).</p>
    <p>Merci d’indiquer les contraintes médicales spécifiques pour chaque voyage afin d’anticiper tout problème d’ordre médical pouvant subvenir pendant le voyage.</p>
    <p>Pour ce contrat de voyage:</p>
  </div>
  <% @order.travellers.each_with_index do |traveller, index| %>
    <% index +=1 %>
    <p class="traveller-title">VOYAGEUR <%= index %></p>
    <div class="p-text-no-margin">
      <% if traveller.food_participation == true %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="data-check1">
          <label class="form-check-label" for="data-check1">
            <p>Sans repas pour restriction alimentaire</p>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
          <label class="form-check-label" for="data-check1">
            <p>Participe au pot commun</p>
          </label>
        </div>
      <% else %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
          <label class="form-check-label" for="data-check1">
            <p>Sans repas pour restriction alimentaire</p>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="data-check1">
          <label class="form-check-label" for="data-check1">
            <p>Participe au pot commun</p>
          </label>
        </div>
      <% end %>
    </div>
    <div class="p-text">
      <% if traveller.food_restrictions.empty? %>
        <p><span class="b mr-3">Restrictions Alimentaires:</span> X</p>
      <% else %>
        <p><span class="b mr-3">Restrictions Alimentaires:</span> <%= traveller.food_restrictions.map{|x| x.name}.join(",") %></p>
      <% end %>

      <% if traveller.food_diets.empty? %>
        <p><span class="b mr-3">Régimes Alimentaires:</span> X</p>
      <% else %>
        <p><span class="b mr-3">Régimes Alimentaires:</span> <%= traveller.food_diets.map{|x| x.name}.join(",") %></p>
      <% end %>

      <% if traveller.medical_condition.empty? %>
        <p><span class="b mr-3">Remarques médicales spécifiques:</span> X</p>
      <% else %>
        <p><span class="b mr-3">Remarques médicales spécifiques:</span> <%= traveller.medical_condition %></p>
      <% end %>

      <% if traveller.additional_comment.empty? %>
        <p><span class="b mr-3">Autres commentaires:</span> X</p>
      <% else %>
        <p><span class="b mr-3">Autres commentaires:</span> <%= traveller.additional_comment %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="text-container">
  <p class="secondary-titles">DESCRIPTION DU FORFAIT</p>
  <% @order.trips.each_with_index do |trip, index| %>
    <% index += 1 %>
    <p class="traveller-title">VOYAGE <%= index %></p>
      <div class="p-text-no-margin">
        <p><%= trip.description %></p>
      </div>
  <% end %>
</div>

<div class="text-container">
  <p class="secondary-titles">PERSONNES A MOBILITE REDUITE</p>
  <div class="p-text-no-margin">
    <p>Ce voyage n’est pas adapté aux personnes à mobilité réduite.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">INDIVIDUELS REGROUPES</p>
  <div class="p-text-no-margin">
    <p>Votre voyage est rattaché à un voyage de groupe de 8 personnes maximum, la capacité maximale d’un séjour étant de 8 voyageurs.</p>
  </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>CONTRAT DE VOYAGE</p>
    <p>FORFAIT TOURISTIQUE</p>
</div>

<p class="main-titles">4. FORMALITES</h1>

<div class="text-container">
  <p class="secondary-titles">FORMALITES – POLICE:</p>
  <div class="p-text-no-margin">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
        <label class="form-check-label" for="data-check1">
          <p>Le(s) voyageur(s) déclare sur l’honneur avoir en sa possession les documents administratifs requis pour son séjour dans le ou les pays concernés par ce voyage (visa à jour, passeport, etc..). Ces documents lui seront demandé à son arrivée. Si le voyageur n’est pas en possession des documents requis, il ne sera pas accepté à bord et ne pourra demander de remboursement ou indemnisation.</p>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
        <label class="form-check-label" for="data-check1">
          <p>Le(s) voyageur(s) déclare sur l’honneur faire le nécéssaire pour répondre aux formalités sanitaires du ou des pays traversés lors de ce voyage.</p>
        </label>
      </div>
    <p>Les informations ci-dessus sont communiquées selon les données disponibles à la date d’établissement du contrat.</p>
    <p>Nous vous conseillons de consulter, jusqu’au jour du départ, les sites:</p>
    <p>https://www.pasteur.fr/fr</p>
    <p>https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/</p>
    <p>et vous conseillons de vous inscrire sur le site Ariane:</p>
    <p>https://pastel.diplomatie.gouv.fr/fildariane/dyn/public/login.html</p>
  </div>
</div>

<div class="text-container">
    <p class="secondary-titles">MINEURS</p>
    <div class="p-text-no-margin">
      <p>Les enfants peuvent voyager avec MagicBus à compter de leur dixième anniversaire révolu.</p>
      <p>Les mineurs de moins de 18 ans doivent être accompagnés lors du MagicTrip par des personnes disposants de l’autorité parentale.</p>
      <p>Les enfants ne voyagent pas à tarif réduit.</p>
    </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>CONTRAT DE VOYAGE</p>
    <p>FORFAIT TOURISTIQUE</p>
</div>

<p class="main-titles">5. PRIX ET ANNULATION</h1>

<div class="text-container">
  <p class="secondary-titles">PRIX</p>
  <div class="p-text">
    <p>Prix TTC: <%= @order.total_price %>€ 
    <p>Mode de règlement: <%= @order.details['charges']['data'][0]['payment_method_details']['card']['brand'].upcase %>, **** **** **** <%= @order.details['charges']['data'][0]['payment_method_details']['card']['last4'] %>, Exp: <%= sprintf('%02d', @order.details['charges']['data'][0]['payment_method_details']['card']['exp_month']) %>-<%= @order.details['charges']['data'][0]['payment_method_details']['card']['exp_year'] %></p>
    <p>Transaction Stripe N° <%= @order.details['charges']['data'][0]['payment_intent'] %></p>
    <p><a href="<%= @order.details['charges']['data'][0]['receipt_url'] %>">Facture Stripe</a></p>
  </div>
  <div class="p-text-no-margin">
    <p>Les prix de vente, conformément à l'article L. 112-1 du Code de la consommation sont indiqués, pour chacun des MagicTrip figurant sur le Site, en euros toutes taxes comprises, hors frais de transport d’acheminement du MagicPeople jusqu’à la Ville d’étape de départ et hors frais de transport de retour suivant la Ville d’étape d’arrivée choisie par le MagicPeople.</p>
    <p>Ce prix comprend:</p>
    <ul>
      <li>le logement à bord d’un bus réaménagé en auberge de jeunesse (habitation)</li>
      <li>le transport durant la période de séjour (du point de départ au point d’arrivée à la fin du séjour).</li>
      <li>la participation au pot commun pour le petit-déjeuner et un repas par jour (que les voyageurs cuisineront ensemble)</li>
      <li>la mise à disposition d’équipement de loisir à bord,</li>
      <li>certaines activités comprise dans le forfait et annoncées plus haut.</li>
    </ul>
    <p>Ce prix ne comprend pas:</p>
    <ul>
        <li>les activités optionnelles facturées en supplément du prix.</li>
        <li>les transports du voyageur pour rejoindre le bus à son point de départ et rejoindre son domicile depuis le point d’arrivée à la fin du séjour.</li>
    </ul>
    <p>Le détaillant se réserve le droit, en cas de non-paiement, de constater l’annulation du contrat par le client et d’exiger sans mise en demeure préalable l’application des pénalités d’annulation prévues ci-dessous.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">ASSURANCE</p>
  <div class="p-text-no-margin">
    <p>L’assurance multirisques Mondial Assistance proposée par le vendeur; couvrant annulations/ modifications, assistance au voyageur, frais médicaux et d’hospitalisaWon d’urgence à l’étranger, retard de transport, dommages aux bagages, responsabilité civile à l’étranger et interruption de séjour, pour un montant de 30€/personne est:</p>
    <p>(Nom) Mondial Assistance</p>
    <p>N°Police *******</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
      <label class="form-check-label" for="data-check1">
        <p>Contrat transmis au client</p>
      </label>
    </div>
    <p>Si vous justifiez d’une garantie antérieure pour les risques couverts par l’assurance souscrite, vous avez la possibilité de renoncer sans frais à cette/ces assurance(s) dans un délai de 14 jours à compter de sa conclusion et tant qu’aucune garantie n’a été mise en œuvre.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">REVISION DU PRIX</p>
  <div class="p-text-no-margin">
    <p>Conformément aux articles L.211-12, R. 211-8 et R. 211-9 du Code du tourisme, les prix prévus au contrat sont révisables à la hausse comme à la baisse pour tenir compte des variations du coût des transports (carburant/énergie), des redevances et taxes et des taux de change. Vous serez informé de toute hausse du prix total du forfait, au plus tard 20 jours avant le départ. Cette hausse s’appliquera intégralement sur la part du prix concernée:</p>
    <p>Part du Transport : ???</p>
    <p>Redevances et taxes connues à la date du contrat : ???</p>
    <p>Part des achats en Devises et taux de référence : ???</p>
    <p>Pour toute hausse supérieure à 8%, vous recevrez sur un support durable le détail de la variation du prix, ses conséquences sur le prix du forfait, le choix qui s’offre à vous d’accepter ou refuser dans un délai raisonnable et des conséquences de l’absence de réponse.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">ANNULATION PAR LE VOYAGEUR</p>
  <div class="p-text-no-margin">
    <p>*** modalités d’annulation par le voyageur à voir! ***</p>
    <p>Absence de droit de rétractation</p>
    <p>Conformément à l’article L221-28 du Code de la consommation, le présent contrat n’est pas soumis au droit de rétractation. Toutefois, le voyageur peut résoudre le contrat à tout moment avant le début du voyage et s’acquittera des frais suivants:</p>
    <p>Frais d’annulation/résolution du contrat</p>
    <p>Le voyageur a la possibilité d’annuler/résoudre le présent contrat moyennant le paiement des frais suivants (par personne ou par dossier, sur le prix total du voyage):</p>
    <p>Barème d’annulation (sur le prix total du voyage)</p>
    <p>- à plus de 4 semaines avant le départ : ......... € ou ........... %</p>
    <p>- entre ......... jours et ....... jours avant le départ : .........€ ou ........ %</p>
    <p>- entre ......... jours et ....... jours avant le départ : .........€ ou ........ %</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">ANNULATION PAR LE DETAILLANT OU L’ORGANISATEUR</p>
  <div class="p-text-no-margin">
    <p>Le voyage peut être annulé par l’organisateur ou l’agence si le nombre minimum de 2 participants n’est pas inscrit:</p>
    <p>20 jours avant la date de départ, pour les voyages dont la durée dépasse 6 jours.</p>
    <p>7 jours avant la date de départ, pour les voyages dont la durée est de 2 à 6 jours.</p>
    <p>48h avant la date de départ, pour les voyages dont la durée est 2 jours.</p>
    <p>Le Voyageur sera alors remboursé de toutes les sommes qu’il aura pu verser mais ne pourra pas prétendre à une indemnisation.</p>
  </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>CONTRAT DE VOYAGE</p>
    <p>FORFAIT TOURISTIQUE</p>
</div>

<p class="main-titles">6. INFORMATIONS CONTRACTUELLES</h1>

<div class="text-container">
  <p class="secondary-titles">CONTACT</p>
  <div class="p-text-no-margin">
    <p>Lorsqu’une non-conformité est constatée sur place, le voyageur est tenu de la signaler au contact ci-dessous dans les meilleurs délais:</p>
    <p>Nom: ABADIE Lisette</p>
    <p>Adresse: 31 résidence du chateau, 31150 Fenouillet</p>
    <p>06.59.09.11.65</p>
    <p>hello@magicbusworld.com</p>
    <p>Le défaut de signalement d’une non-conformité sur place pourra avoir une influence sur le montant des éventuels dommages-intérêts ou réduction de prix dus si le signalement sans retard aurait pu éviter ou diminuer le dommage du client.</p>
    <p>Le voyageur pourra également demander de l’aide auprès du contact ci-dessus en cas de difficulté sur place.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">RESPONSABILITE</p>
  <div class="p-text-no-margin">
    <p>Le détaillant et l’organisateur sont responsables de la bonne exécution des services prévus au présent contrat et sont tenus d’apporter de l’aide au voyageur en difficulté.</p>
    <p>En cas de mise en jeu de leur responsabilité de plein droit du fait des prestataires, les limites de dédommagement résultant de conventions internationales selon l’article L. 211-17-IV du Code du Tourisme trouveront à s’appliquer ; à défaut et sauf préjudice corporels, dommages intentionnels ou causés par négligence, les dommages-intérêts éventuels sont limités à trois fois le prix total du voyage ou du séjour.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">GARANT FINANCIER DU DETAILLANT</p>
  <div class="p-text-no-margin">
    <p>Nom : APST</p>
    <p>Adresse : 15 Avenue Carnot, 75017 Paris</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">ASSUREUR DE RESPONSABILITE CIVILE DU DETAILLANT</p>
  <div class="p-text-no-margin">
    <p>Nom : HISCOX</p>
    <p>Adresse : 12 quai des Queyries - CS 41177 - 33072 Bordeaux</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">CESSION DU CONTRAT</p>
  <div class="p-text-no-margin">
    <p>Conformément à l’article L. 211-11 du Code du Tourisme, vous avez la possibilité de céder le présent contrat tant que celui-ci n’a produit aucun effet et jusqu’à 7 jours du départ, en prévenant l’agence dans un délai raisonnable, à une personne remplissant les mêmes conditions que vous. Vous-même et le bénéficiaire de la cession demeurez solidairement tenus du paiement du solde du contrat et des frais de cession qui vous seront communiqués.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">RECLAMATIONS & MEDIATION</p>
  <div class="p-text-no-margin">
    <p>Le voyageur peut saisir le service client du détaillant de toute réclamation, à l’adresse suivante : 31 résidence du château, 31150 Fenouillet par mail à hello@magicbusworld.com, accompagné(e) de tout justificatif.</p>
    <p>A défaut de réponse satisfaisante dans un délai de 60 jours ou s’il n’est pas satisfait de la réponse reçue, le client peut saisir gratuitement le Médiateur du Tourisme et du Voyage, dont les coordonnées et modalités de saisie sont disponibles sur le site : www.mtv.travel. Si la vente s’effectue en ligne, le voyageur a la possibilité de recourir à la plateforme disponible sur le site https://webgate.ec.europa.eu/odr pour régler son litige.</p>
  </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>CONTRAT DE VOYAGE</p>
    <p>FORFAIT TOURISTIQUE</p>
</div>

<p class="main-titles">6. SIGNATURES</h1>

<div class="text-container">
  <div class="p-text-no-margin">
    <p>Je soussigné <%= @order.details['charges']['data'][0]['billing_details']['name'] %> agissant tant pour moi-même que pour le compte des autres voyageurs inscrits, certifie (1) avoir pris connaissance - avant la conclusion du présent contrat – de l’offre répondant aux exigences de l’article R. 211-4 du Code du Tourisme, des conditions particulières de vente de voyages et du formulaire standard d’information, (2) avoir pris connaissance des informations liées à la situation politique et sanitaire de la destination choisie figurant dans la rubrique conseils-aux-voyageurs du site https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/ (plus spécifiquement concernant les sous rubriques « risque pays » et « santé ») à consulter régulièrement jusqu’au départ, (3) avoir pris connaissance de la brochure et/ou le devis et le programme de l’organisateur, ainsi que (4) des conditions de garantie des assurances souscrites et (5) du document d’information m’invitant à vérifier que je ne suis pas déjà couvert pour les garanties éventuellement souscrites, et du formulaire d’information standard joint à ce document (6).</p>
    <p class="traveller-title">Date: <%= @order.paid_at.strftime('%d/%m/%Y') %></p>
    <div class="float-right">
      <p class="traveller-title">Le Détaillant</p>
      <p>Lisette Abadie</p>
      <%= wicked_pdf_image_tag '/images/signature_lilly.png', class:"img-fluid" %>
    </div>
    <p class="traveller-title">Le Client</p>
    <p><%= @order.details['charges']['data'][0]['billing_details']['name'] %></p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" checked>
      <label class="form-check-label">
        <p>Signature électronique</p>
      </label>
    </div>
  </div>
</div>






