<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <%= wicked_pdf_image_tag '/images/logo_black.png', class:"img-fluid" %>
            </td>

            <td>
              Order#: <b><%= @order.name %></b>
              <br>
              Paid on: <b><%= @order.paid_at.strftime('%d/%m/%Y') %></b>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td>
              <b>SARL MagicBus</b><br>
              Registration N°: IM031190014<br>
              31 Résidence du Château, 31150 Fenouillet<br>
              hello@magicbusworld.com<br>
              +33 6 59 09 11 65
            </td>

            <td>
              <b>Client</b><br>
              <%= @order.details['charges']['data'][0]['billing_details']['name'] %><br>
              <%= @order.details['charges']['data'][0]['billing_details']['email'] %><br>
              <%= @order.details['charges']['data'][0]['billing_details']['address']['line1'] %>, <%= @order.details['charges']['data'][0]['billing_details']['address']['postal_code'] %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>Transaction</td>
      <td colspan="2"></td>
      <td class="right"></td>
    </tr>

    <tr class="details">
      <td><b>Stripe Ref. N°: </b> <%= @order.details['id'] %></td>
      <td><b>Payment method: </b><%= @order.details['charges']['data'][0]['payment_method_details']['card']['brand'].upcase %>, **** **** **** <%= @order.details['charges']['data'][0]['payment_method_details']['card']['last4'] %>, Exp: <%= sprintf('%02d', @order.details['charges']['data'][0]['payment_method_details']['card']['exp_month']) %>-<%= @order.details['charges']['data'][0]['payment_method_details']['card']['exp_year'] %></td>
    </tr>

    <tr class="heading">
      <td>Trips</td>
      <td class="right">Price</td>
      <td class="right">Travellers</td>
      <td>Total</td>
    </tr>

    <% @order.trips.each do |trip| %>
      <tr class="item">
          <td>
              <%= trip.name %><br>
          </td>

          <td class="right">
              <%= trip.price %>€
          </td>

          <td class="right">
              x<%= @order.travellers.count %>
          </td>

          <td>
              <%= trip.price * @order.travellers.count %>€
          </td>
      </tr>
    <% end %>

    <tr>
      <td colspan="4"></td>
    </tr>

    <% if @order.coupon_id?%>
    <tr>
      <td colspan="2"></td>
      <td><b>Discount (<%= @order.coupon.reduction_percentage %>%)</b></td>
      <td>- <%= @order.total_price - @order.total_price_calc %>€</td>
    </tr>
    <% end %>

    <% unless @order.travellers.where(food_participation: false).empty? %>
    <tr>
      <td colspan="2"></td>
      <td><b>Special Food Diets: x<%= @order.travellers.where(food_participation: false).count %></b></td>
      <td>- <%= @order.travellers.where(food_participation: false).count * Cart::FOOD_PARTICIPATION_PRICE %>€</td>
    </tr>
    <% end %>

    <tr class="heading">
      <td colspan="2"></td>
      <td><b>TOTAL:</b></td>
      <td>
          <b><%= @order.total_price_calc %>€</b>
      </td>
    </tr>
  </table>
</div>

<div class="page-break"></div>

<div class="big-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "180x180" %>
    <p>TRAVEL CONTRACT</p>
    <p>TOURIST PACKAGE</p>
</div>

<p class="main-titles">1. PARTY IDENTIFICATION</h1>

<div class="text-container">
  <p class="secondary-titles">"THE RETAILER"</p>
  <div class="p-text">
    <p><span class="b">Name:</span> MagicBus</p>
    <p><span class="b">Company name:</span> SARL MagicBus</p>
    <p><span class="b">Registration N°:</span> IM031190014</p>
    <p><span class="b">Address:</span> 31 Résidence du Château, 31150 Fenouillet.</p>
    <p><span class="b">Phone:</span> 06.59.09.11.65</p>
    <p><span class="b">E-mail:</span> hello@magicbusworld.com</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">"THE ORGANIZER"</p>
  <div class=p-text>
    <p><span class="b">Name:</span> MagicBus</p>
    <p><span class="b">Company name:</span> SARL MagicBus</p>
    <P><span class="b">Registration N°:</span> IM031190014</p>
    <p><span class="b">Address:</span> 31 Résidence du Château, 31150 Fenouillet.</p>
    <p><span class="b">Phone:</span> 06.59.09.11.65</p>
    <p><span class="b">Email:</span> hello@magicbusworld.com</p>
  </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>TRAVEL CONTRACT</p>
    <p>TOURIST PACKAGE</p>
</div>

<p class="main-titles">2. TRAVELLER(S)</p>

<div class="text-container">
  <p class="secondary-titles">CUSTOMER</p>
  <div class="p-text">
    <p><span class="b">Name:</span> <%= @order.details['charges']['data'][0]['billing_details']['name'] %></p>
    <p><span class="b">Address:</span> <%= @order.details['charges']['data'][0]['billing_details']['address']['line1'] %></p>
    <p><span class="b">ZIP:</span> <%= @order.details['charges']['data'][0]['billing_details']['address']['postal_code'] %></p>
    <p><span class="b">Country:</span> <%= @order.details['charges']['data'][0]['billing_details']['address']['country'] %></p>
    <p><span class="b">Email:</span> <%= @order.details['charges']['data'][0]['billing_details']['email'] %></p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">TRAVELLERS(S)</p>
  <% @order.travellers.each_with_index do |traveller, index| %>
    <% index += 1 %>
      <p class="traveller-title">TRAVELLER <%= index %></p>
      <div class="p-text">
        <p><span class="b">Last Name:</span> <%= traveller.last_name %></p>
        <p><span class="b">First Name:</span> <%= traveller.first_name %></p>
        <p><span class="b">Birth date:</span> <%= traveller.birth_date.strftime('%d-%m-%Y') %></p>
      </div>
  <% end %>
</div>

<div class="text-container">
  <div class="p-text-no-margin">
    <div class="form-check">
      <% if @order.rgpd_validated == false %>
      <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
      <% else %>
      <input class="form-check-input" type="checkbox" value="" id="data-check1">
      <% end %>
      <label class="form-check-label" for="data-check1">
        <p>The person entering into this contract agrees to the transmission of his data for the purpose of his and guaranteed that it has obtained the consent of other travellers for the same purpose.</p>
      </label>
    </div>
    <div class="form-check">
      <% if @order.rgpd_validated == false %>
      <input class="form-check-input" type="checkbox" value="" id="data-check2" checked>
      <% else %>
      <input class="form-check-input" type="checkbox" value="" id="data-check2">
      <% end %>
      <label class="form-check-label" for="data-check2">
        <p>The person entering into this contract agrees to transmit his or her data for the purpose of receiving our promotions and solicitations (via e-mail, SMS messages, telephone calls and postal mail):</p>      
      </label>
    </div>
      <p>The data shall be kept for no longer than is necessary for the following purposes: </p>
    <ul>
      <li><p>Ordering a stay: the data necessary to process your order will be kept for the time necessary to establish a right or contract.</p></li>
      <li><p>Management of the commercial relationship: the data will be kept (at the latest) 3 years from the end of the commercial relationship.</p></li>
    </ul>
    <p>In accordance with the legislation in force, you have the right to access, rectify, delete and carry personal data concerning you and the right to object on legitimate reason to their processing.</p>
    <p>To exercise these rights, you must send a letter to the following address: 31 Résidence du Château 31150 Fenouillet, or an e-mail to: <a href="#">hello@magicbusworld.com</a></p>
  </div>
</div>

<div class="page-break"></div>
<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>CONTRAT DE VOYAGE</p>
    <p>FORFAIT TOURISTIQUE</p>
</div>

<p class="main-titles">3. TRIP(S) INFORMATION</p>

<div class="text-container">
  <p class="secondary-titles">DETAILS OF BOOKED TRIPS</p>
  <div class="p-text">
    <p><span class="b">Type:</span> Itinerant trip</p>
    <p><span class="b">Reservation number:</span> <%= @order.name %> 
  </div>
  <% @order.trips.each_with_index do |trip, index| %>
    <% index += 1 %>
    <p class="traveller-title">TRIP <%= index %></p>
      <div class="p-text">
        <p>Departure: <%= trip.departure_date.strftime("%d-%m-%Y") %> at <%= trip.departure_location['locality'] %>, <%= trip.departure_location['country'].upcase %></p>
        <p>Arrival: <%= trip.arrival_date.strftime("%d-%m-%Y") %> at <%= trip.arrival_location['locality'] %>, <%= trip.arrival_location['country'].upcase %></p>
      </div>
  <% end %>
</div>

<div class="text-container">
  <p class="secondary-titles">COUNTRIES CROSSED</p>
  <div class="p-text-no-margin">
    <p>During the trips stipulated in the previous section, travellers will cross the following countries:</p>
    <p class="b"><%= (@order.trips.order(:week).map{|x| x.departure_location['country']} + @order.trips.order(:week).map{|x| x.arrival_location['country']}).uniq.join(", ") %></p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">TRANSPORT</p>
  <div class="p-text-no-margin">
    <p class="subhead">• Characteristics, medium, category</p>
    <p>Transport to reach the bus for check in and to leave the bus after check out are not covered by this package.</p>
    <p>Transportation during the trip, from the pick up of the traveller at the point of departure to the drop off at the point of arrival at the end of the journey, is carried out by bus.</p>
    <p class="subhead">• Schedule</p>
    <p>
      The departure time for each trip is an approximate time that will be specified later
      <br>
      <span class="b">Approximate departure time: 4:30 pm.</span>
    </p>
    <p class="subhead">• Stops duration and locations</p>
    <p>The duration and locations of the stops are not known at the time the contract is drawn up, as the stopovers will be decided on the spot in collaboration with other travellers. This is a fundamental principle of the type of travel offered by the MagicBus company.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">ITINERARY & ACCOMMODATION</p>
  <div class="p-text-no-margin">
    <p>The selected package is a road trip, on board of a bus converted into a hostel in which the customer(s) will be transported and accommodated for the entire duration of the stay. The stops are improvised on board in collaboration with the other travellers.</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
        <label class="form-check-label" for="data-check1">
          <p>Program communicated to the customer</p>
        </label>
      </div>
    <p class="b">Number of nights per trip: <%= (@order.trips.first.arrival_date - @order.trips.first.departure_date).to_i %> nights</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">MEAL & HEALTH</p>
  <div class="p-text-no-margin">
    <p>Participation in the common pot, which is used to purchase the food needed for breakfast and for one meal a day, is included in the default package. It is excluded only in case of very specific food restrictions (e.g. vegan).</p>
    <p>Please indicate the specific medical requirements for each trip in order to anticipate any medical problems that may arise during the trip.</p>
    <p>For this travel contract:</p>
  </div>
  <% @order.travellers.each_with_index do |traveller, index| %>
    <% index +=1 %>
    <p class="traveller-title">TRAVELLER <%= index %></p>
    <div class="p-text-no-margin">
      <% if traveller.food_participation == true %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="data-check1">
          <label class="form-check-label" for="data-check1">
            <p>No meals for restricted diet reason</p>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
          <label class="form-check-label" for="data-check1">
            <p>Participates to the common pot</p>
          </label>
        </div>
      <% else %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
          <label class="form-check-label" for="data-check1">
            <p>No meals for restricted diet reason</p>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="data-check1">
          <label class="form-check-label" for="data-check1">
            <p>Participates to the common pot</p>
          </label>
        </div>
      <% end %>
    </div>
    <div class="p-text">
      <% if traveller.food_restrictions.empty? %>
        <p><span class="b mr-3">Food Restrictions:</span> X</p>
      <% else %>
        <p><span class="b mr-3">Food Restrictions:</span> <%= traveller.food_restrictions.map{|x| x.name}.join(",") %></p>
      <% end %>

      <% if traveller.food_diets.empty? %>
        <p><span class="b mr-3">Food Diets:</span> X</p>
      <% else %>
        <p><span class="b mr-3">Food Diets:</span> <%= traveller.food_diets.map{|x| x.name}.join(",") %></p>
      <% end %>

      <% if traveller.medical_condition.empty? %>
        <p><span class="b mr-3">Specific medical remarks:</span> X</p>
      <% else %>
        <p><span class="b mr-3">Specific medical remarks:</span> <%= traveller.medical_condition %></p>
      <% end %>

      <% if traveller.additional_comment.empty? %>
        <p><span class="b mr-3">Other comments:</span> X</p>
      <% else %>
        <p><span class="b mr-3">Other comments:</span> <%= traveller.additional_comment %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="text-container">
  <p class="secondary-titles">PACKAGE DESCRIPTION</p>
  <% @order.trips.each_with_index do |trip, index| %>
    <% index += 1 %>
    <p class="traveller-title">TRIP <%= index %></p>
      <div class="p-text-no-margin">
        <p><%= trip.description %></p>
      </div>
  <% end %>
</div>

<div class="text-container">
  <p class="secondary-titles">PEOPLE WITH REDUCED MOBILITY</p>
  <div class="p-text-no-margin">
    <p>This trip is not suitable for people with reduced mobility.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">INDIVIDUAL GROUPS</p>
  <div class="p-text-no-margin">
    <p>Your trip is attached to a group trip of up to 8 people, the maximum capacity of a stay being 8 travellers, and the minimum being 2 travellers.</p>
  </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>TRAVEL CONTRACT</p>
    <p>TOURIST PACKAGE</p>
</div>

<p class="main-titles">4. FORMALITIES</h1>

<div class="text-container">
  <p class="secondary-titles">FORMALITIES – POLICE:</p>
  <div class="p-text-no-margin">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
        <label class="form-check-label" for="data-check1">
          <p>The traveller(s) declare(s) on their honour that they are in possession of the administrative documents required for their stay in the country or countries concerned by this journey (up-to-date visa, passport, etc.). These documents will be requested on arrival. If the traveller is not in possession of the required documents, he/she will not be accepted on board and will not be able to claim any refund/indemnity.</p>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="data-check1" checked>
        <label class="form-check-label" for="data-check1">
          <p>The traveller(s) declare(s) on their honour that they will take the necessary steps to comply with the health formalities of the country or countries crossed during this trip.</p>
        </label>
      </div>
    <p>The above information is provided on the basis of data available at the date of preparation of the contract.</p>
    <p>We advise you to consult, until the day of departure, the sites:</p>
    <p>https://www.pasteur.fr/fr</p>
    <p>https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/</p>
    <p>and advise you to create an account on the Ariane website:</p>
    <p>https://pastel.diplomatie.gouv.fr/fildariane/dyn/public/login.html</p>
  </div>
</div>

<div class="text-container">
    <p class="secondary-titles">MINORS</p>
    <div class="p-text-no-margin">
      <p>Children can travel with MagicBus from their tenth birthday onwards.</p>
      <p>Minors under the age of 18 must be accompanied on the MagicTrip by persons with parental authority.</p>
      <p>Children do not travel at a reduced rate.</p>
    </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>TRAVEL CONTRACT</p>
    <p>TOURIST PACKAGE</p>
</div>

<p class="main-titles">5. PPRICING AND CANCELLATION</h1>

<div class="text-container">
  <p class="secondary-titles">PRICES</p>
  <div class="p-text">
    <p>Price VAT included: <%= @order.total_price %>€ 
    <p>Payment method: <%= @order.details['charges']['data'][0]['payment_method_details']['card']['brand'].upcase %>, **** **** **** <%= @order.details['charges']['data'][0]['payment_method_details']['card']['last4'] %>, Exp: <%= sprintf('%02d', @order.details['charges']['data'][0]['payment_method_details']['card']['exp_month']) %>-<%= @order.details['charges']['data'][0]['payment_method_details']['card']['exp_year'] %></p>
    <p>Stripe transaction N° <%= @order.details['charges']['data'][0]['payment_intent'] %></p>
    <p><a href="<%= @order.details['charges']['data'][0]['receipt_url'] %>">Stripe Invoice</a></p>
  </div>
  <div class="p-text-no-margin">
    <p>In accordance with article L. 112-1 of the French Consumer Code, sales prices are indicated for each of the MagicTrips appearing on the Site, in euros, all taxes included, excluding transport costs for transporting the MagicPeople to the City of the departure stopover and excluding return transport costs following the City of the arrival stopover chosen by the MagicPeople.</p>
    <p>This price includes:</p>
    <ul>
      <li>accommodation on board of the MagicBus: a bed equipped with sheets and pillow, a locker to store your luggage (70 x 40 x 30 cm maximum) and all self-service accommodations (bathroom, kitchen, toilet, furniture).</li>
      <li>campsites and car parks</li>
      <li>bus transport: diesel and tolls included.</li>
      <li>breakfast and participation in the common pot for the evening meal (which we'll cook together)</li>
      <li>the activities included and mentioned in the trip description (if applicable) </li>
      <li>the use of the sports and leisure facilities available on the bus: canoeing, surfing, skateboarding, board games, outdoor games, etc...</li>
      <li>all-you-can-eat tea and coffee, and a welcome beer! </p>
    </ul>
    <p>This price does not include:</p>
    <ul>
        <li>transport to reach and leave the bus</li>
        <li>activities / excursions / visits not included in the chosen package</li>
        <li>rental of equipment other than what is on board </li>
        <li>travel insurance</li>
        <li>lunch</li>
    </ul>
    <p>The retailer reserves the right, in the event of non-payment, to note the cancellation of the contract by the customer and to require, without prior formal notice, the application of the cancellation penalties provided for below.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">INSURANCE</p>
  <div class="p-text-no-margin">
    <p>Travel insurance is not included in the MagicBus package. However, travellers can subscribe to a travel insurance through Chapka Insurance via the following link: </p>
    <p>https://www.chapkadirect.fr/index.php?action=produit&id=824&app=cd_magicbus</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">PRICE REVISION</p>
  <div class="p-text-no-margin">
    <p>In accordance with Articles L.211-12, R. 211-8 and R. 211-9 of the Tourism Code, the prices provided for in the contract may be revised upwards or downwards to take account of variations in transport costs (fuel/energy), fees and taxes and exchange rates. You will be informed of any increase in the total price of the package no later than 20 days before departure.</p>
    <p>For any increase of more than 8%, you will receive on a durable medium the details of the price variation, its consequences on the price of the package, the choice you have to accept or refuse within a reasonable time and the consequences of not answering.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">CANCELLATION BY THE TRAVELLER</p>
  <div class="p-text-no-margin">
    <p>No right of withdrawal.</p>
    <p>In accordance with article L221-28 of the Consumer Code, this contract is not subject to the right of withdrawal. However, the traveller may cancel the contract at any time before the start of the trip and shall pay the fees below.</p>
    <p>Contract cancellation costs</p>
    <p>The traveller has the option to cancel this contract by paying the following fees (calculated on the total price of the trip):</p>
      <li>more than 28 days before departure: 50% refunded </li>
      <li>between 28 days and 14 days before departure: 25% refunded</li>
      <li>less than 14 days before departure: no refund.</li>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">CANCELLATION BY THE RETAILER OR ORGANIZER</p>
  <div class="p-text-no-margin">
    <p>The trip can be cancelled by the organizer or the agency if the minimum number of 2 participants is not registered:</p>
      <li>20 days before the departure date, for trips lasting more than 6 days.</li>
      <li>7 days before the date of departure, for trips lasting between 2 and 6 days.</li>
      <li>48 hours before the departure date, for trips lasting 2 days.</li>
    <p>The Traveller will then be refunded all amounts that he may have paid but will not be able to claim compensation.</p>
  </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>TRAVEL CONTRACT</p>
    <p>TOURIST PACKAGE</p>
</div>

<p class="main-titles">6. CONTRACTUAL INFORMATION</h1>

<div class="text-container">
  <p class="secondary-titles">CONTACT</p>
  <div class="p-text-no-margin">
    <p>When a non-compliance is found on site, the traveller is required to report it to the contact below as soon as possible:</p>
    <p>Name: ABADIE Lisette</p>
    <p>Address: 31 résidence du chateau, 31150 Fenouillet</p>
    <p>+33 6 59 09 11 65</p>
    <p>hello@magicbusworld.com</p>
    <p>Failure to report a non-conformity on the spot may influence the amount of any damages or price reduction due if reporting without delay could have prevented or reduced the customer's damage.</p>
    <p>The traveller may also request assistance from the above contact in the event of difficulties on board.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">RESPONSABILITY</p>
  <div class="p-text-no-margin">
    <p>The retailer and the organiser are responsible for the proper execution of the services provided for in this contract and are obliged to provide assistance to the traveller in difficulty.</p>
    <p>In the event that their liability is invoked by operation of law on the part of the service providers, the limitations of compensation resulting from international conventions in accordance with article L. 211-17-IV of the Tourism Code will apply; failing this and except in the case of bodily injury, intentional damage or damage caused by negligence, the possible damages are limited to three times the total price of the trip or stay.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">RETAILER'S FINANCIAL GUARANTOR</p>
  <div class="p-text-no-margin">
    <p>Name : APST</p>
    <p>Address : 15 Avenue Carnot, 75017 Paris, France</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">RETAILER'S LIABILITY INSURANCE</p>
  <div class="p-text-no-margin">
    <p>Name : HISCOX</p>
    <p>Address : 12 quai des Queyries - CS 41177 - 33072 Bordeaux, France</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">CONTRACT TRANSFER</p>
  <div class="p-text-no-margin">
    <p>In accordance with article L. 211-11 of the Tourism Code, you have the possibility of assigning the present contract as long as it has not produced any effect and up to 7 days of departure, by informing the agency within a reasonable time, to a person fulfilling the same conditions as you. You and the beneficiary of the assignment remain jointly and severally responsible for the payment of the balance of the contract and the assignment fees which will be communicated to you.</p>
  </div>
</div>

<div class="text-container">
  <p class="secondary-titles">CLAIMS & MEDIATION</p>
  <div class="p-text-no-margin">
    <p>The traveller may submit any complaints to the retailer's customer service department at the following address: 31 Residence du Chateau, 31150 Fenouillet, or by mail: hello@magicbusworld.com, accompanied by all proof of purchase.</p>
    <p>In the absence of a satisfactory reply within 60 days or if the customer can contact the Tourism and Travel Mediator free of charge, whose contact details and methods of data entry are available on the website: www.mtv.travel. If the sale is made online, the traveller has the possibility of to use the platform available on the https://webgate.ec.europa.eu/odr website to settle his dispute.</p>
  </div>
</div>

<div class="page-break"></div>

<div class="small-header">
    <%= wicked_pdf_image_tag '/images/logo_round.png', size: "90x90" %>
    <p>TRAVEL CONTRACT</p>
    <p>TOURIST PACKAGE</p>
</div>

<p class="main-titles">6. SIGNATURES</h1>

<div class="text-container">
  <div class="p-text-no-margin">
    <p>I, the undersigned <%= @order.details['charges']['data'][0]['billing_details']['name'] %> acting both for myself and on behalf of other registered travellers, certify (1) to have taken knowledge - prior to the conclusion of this contract - of the offer meeting the requirements of Article R. 211-4 of the Tourism Code, the special conditions of sale of trips and the form information standard, (2) have taken note of the information related to the political and health situation of the chosen destination appearing in the travel advice section of the site https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/ (more specifically concerning the sub country risk and health) to be consulted regularly until departure, (3) to be familiar with the brochure and/or the organiser's quote and programme, as well as (4) the conditions of guarantee of the insurances subscribed to and (5) the information document inviting me to check that I am not already covered for any cover that may be taken out, and the standard information form attached to this document (6).</p>
    <p class="traveller-title">Date: <%= @order.paid_at.strftime('%d/%m/%Y') %></p>
    <div class="float-right">
      <p class="traveller-title">The Detailer</p>
      <p>Lisette Abadie</p>
      <%= wicked_pdf_image_tag '/images/signature_lilly.png', class:"img-fluid" %>
    </div>
    <p class="traveller-title">The Client</p>
    <p><%= @order.details['charges']['data'][0]['billing_details']['name'] %></p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" checked>
      <label class="form-check-label">
        <p>Electronic signature</p>
      </label>
    </div>
  </div>
</div>
