<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <%= image_tag image_url('/images/black_logo.png', class:"img-fluid") %>
            </td>

            <td>
              Order #: <b><%= @order.name %></b>
              <br>
              Created: <b><%= @order.created_at.strftime('%d/%m/%Y') %></b>
              <br>
              Status: <span class="btn btn-success">Paid</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td>
              <b>SARL MagicBus</b><br>
              Adresse 1<br>
              <i class="far fa-envelope"></i>Email<br>
              <i class="fas fa-phone"></i>Telephone
            </td>

            <td>
              <b>Customer Name</b><br>
              <i class="far fa-envelope"></i>Email<br>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>Stripe</td>
      <td colspan="2"></td>
      <td class="right"></td>
    </tr>

    <tr class="details">
      <td><b>Payment Id:</b> <%= @order.payment_fingerprint%></td>
    </tr>

    <tr class="heading">
      <td>Item</td>
      <td class="right">Price</td>
      <td class="right">Qty</td>
      <td>Total</td>
    </tr>

    <% @order.trips.each do |trip| %>
      <tr class="item">
          <td>
              <%= trip.name %><br>
              <small><%= trip.description %></small>
          </td>

          <td class="right">
              <%= trip.price %>
          </td>

          <td class="right">
              x <%= @order.travellers.count %>
          </td>

          <td>
              <%= @order.total_price %>
          </td>
      </tr>
    <% end %>

    <tr>
      <td colspan="4"></td>
    </tr>

    <tr>
      <td colspan="2"></td>
      <td><b>Subtotal</b></td>
      <td><%= @order.total_price %></td>
    </tr>

    <% if @order.coupon_id?%>
    <tr>
      <td colspan="2"></td>
      <td><b>Discount (<%= @order.coupon.reduction_percentage %>%)</b></td>
      <td>- AMOUNT</td>
    </tr>
    <% end %>

    <tr>
      <td colspan="2"></td>
      <td><b>TAXES %%</b></td>
      <td>+ ??</td>
    </tr>

    <tr class="heading">
      <td colspan="2"></td>
      <td><b>TOTAL:</b></td>
      <td>
          <b><%= @order.total_price %></b>
      </td>
    </tr>
  </table>
</div>

<div class="page-break"></div>

<h1>CONTRAT DE VOYAGE FORFAIT TOURISTIQUE</h1>

<h1>1. IDENTIFICATION DES PARTIES</h1>

<h1>LE DETAILLANT</h1>
<p>Nom: MagicBus</p>
<p>Denomination sociale de l'entreprise: SARL MagicBus</p>
<p>Numero d'Immatriculation: IM031190014</p>
<p>Adresse: 31 residence du chateau, 31150 Fenouillet.</p>
<p>06.59.09.11.65</p>
<p>hello@magicbusworld.com</p>

<h1>"L'ORGANISATEUR" (si l'organisateur n'est pas le "detaillant")</h1>
<p>Nom: MagicBus</p>
<p>Denomination sociale de l'entreprise: SARL MagicBus, Immatriculation : IM031190014</p>
<p>Adresse: 31 residence du chateau, 31150 Fenouillet.</p>
<p>06.59.09.11.65</p>
<p>hello@magicbusworld.com</p>

<div class="page-break"></div>

<h1>2. VOYAGEUR(S)</h1>
<p>Client</p>
<p>Nom *Nom du payant*</p>
<p>Prénom *Prénom du payant*</p>
<p>Date de naissance *Date de naissance du payant*</p>
<p>Adresse *Adresse du payant*</p>
<p>Code postal *CP du payant*</p>
<p>*Adresse mail du payant*</p>

<% @order.travellers.each_with_index do |traveller, index| %>
  <% index += 1 %>
    <p>Voyageur <%= index %>:</p>
    <p>Nom: <%= traveller.first_name %></p>
    <p>Prénom: <%= traveller.last_name %></p>
    <p>Date de naissance: <%= traveller.birth_date %></p>
<% end %>

<p>La personne concluant le présent contrat accepte de transmeRre ses données dans le but de son exécu3on et garan3t qu’il a recueilli le consentement des autres voyageurs aux mêmes fins.</p>
<p>Les données sont conservées pendant une durée qui n’excède pas la durée nécessaire aux finalités suivantes:</p>
<p>• Commande d’un séjour : les données nécessaires au traitement de votre commande seront conservées pendant la durée nécessaire à l’établissement d’un droit ou d’un contrat.</p>
<p>• Ges3on de la rela3on commerciale : les données seront conservées (au plus tard) 3 ans à compter de la fin de la rela3on commerciale.</p>
<p>Conformément à la législa3on en vigueur, vous disposez d’un droit d’accès, de rec3fica3on, de suppression et de portabilité des données personnelles vous concernant et d’un droit d’opposi3on pour raison légi3me à leur traitement.</p>
<p>Pour exercer ces droits, vous devez adresser un courrier postal à l'adresse suivante : 31 résidence du château 31150 Fenouillet ou un courrier électronique à : hello@magicbusworld.com</p>

<div class="page-break"></div>

<h1>3. INFORMATIONS VOYAGE</h1>
<h1>INTITULE DU FORFAIT</h1>
<p>Type: Séjour iWnérant</p>
<p>Numéro: <%= @order.name %> 
<p>Du <%= @order_trips.first.departure_date.strftime("%d-%m-%y") %> au <%= @order_trips.last.arrival_date.strftime("%d-%m-%y") %></p>

<h1>PAYS TRAVERSÉ(S)</h1> 
<p><%= @order_trips.map{|x| x.departure_location['country']}.join(",") %></p>

<h1>TRANSPORT</h1>
<p>- Caractéris+ques, moyen, catégorie</p>
<p>Le transport pour rejoindre le bus à l’allée et rejoindre le domicile du client au retour ne sont pas pris en charge dans ce forfait.</p>
<p>Le transport durant le voyage, depuis la récupéraWon du voyageurs au point de départ jusqu’au dépôt de ce dernier au point d’arrivé à la fin du séjour, est effectué en autobus.
<p>- Départ</p>
<p>Ville: <%= @order_trips.first.departure_location['locality'] %>, <%= @order_trips.first.departure_location['country'] %></p> 
<p>Date: <%= @order_trips.first.departure_date.strftime("%d-%m-%y") %></p>
<p>Heure non-connue au moment de l’établissement du contrat : heure approximaWve <%= @order_trips.first.meetup_time.strftime("%Hh%M") %></p>
<p>Durée et lieu des escales ou correspondances non connues au moment de l’établissement du contrat, puisque les escales seront décidées sur place en collaboraWon avec les autres voyageurs. Il s’agit là d’un principe fondamental et typique du type de voyage proposé par l’entreprise MagicBus.</p>
<p>- Retour</p>
<p>Ville: <%= @order_trips.last.arrival_location['locality'] %>, <%= @order_trips.last.arrival_location['country'] %></p> 
<p>Date: <%= @order_trips.last.arrival_date.strftime("%d-%m-%y") %></p>
<p>Heure : NON CONNUE</p>
<p>Durée et lieu des escales ou correspondances non connues au moment de l’établissement du contrat, puisque les escales seront décidées sur place en collaboraWon avec les autres voyageurs. Il s’agit là d’un principe fondamental et typique du type de voyage proposé par l’entreprise MagicBus.</p>
<p>En temps uWle avant le début du voyage ou du séjour et conformément à l’arWcle L. 211-10 du Code du Tourisme, vous seront remis les documents nécessaires ainsi que les informaWons sur l’heure prévue de départ.</p>

<h1>ITINERAIRE & HEBERGEMENT</h1>
<p>Le forfait sélecWonné est un voyage en iWnérance, à bord d’un bus réaménagé en auberge de jeunesse dans lequel le(s) client(s) seront transporté(s) et logé(s) pour toute la durée du séjour. Les étapes sont improvisées à bord en collaboraWon avec les autres voyageurs.</p>
<p> OUI Programme communiqué au client *à cocher automa3quement*</p>
<p>Nombre de nuits : *Nbr de nuits* nuits hors transport</p>

<h1>REPAS & SANTÉ</h1>
<p>La parWcipaWon au pot commun, servant à l’achat des aliments nécessaires au peWt- déjeuner ainsi qu’à un repas par jour, est comprise dans le forfait par default. Il n’est exclu qu’en cas de restricWon alimentaire très spécifiques (ex: vegan).</p>
<p>Merci d’indiquer les contraintes médicales spécifiques pour chaque voyage afin d’anWciper tout problème d’ordre médical pouvant subvenir pendant le voyage.</p>
<p>Pour ce contrat de voyage:</p>

<% @order.travellers.each_with_index do |traveller, index| %>
  <% index +=1 %>
  <p>- Voyageur <%= index %>: <%= traveller.last_name %>, <%= traveller.first_name %></p>
    <% if traveller.food_diets.ids.flatten.count(@vegan_id) == 0 %>
      <p> OUI sans repas pour restricWon alimentaire NON ParWcipe au pot commun</p>
    <% else %>
      <p> NON sans repas pour restricWon alimentaire OUI ParWcipe au pot commun</p>
    <% end %>

<p>Autres remarques ou restricWons:</p> 
  <% if traveller.food_restrictions.empty? %>
    <p>Food Restrictions: None</p>
  <% else %>
    <p>Food Restrictions: <%= traveller.food_restrictions.map{|x| x.name}.join(",") %></p>
  <% end %>

  <% if traveller.food_diets.empty? %>
    <p>Food Diets: None</p>
  <% else %>
    <p>Food Diets: <%= traveller.food_diets.map{|x| x.name}.join(",") %></p>
  <% end %>
  <p>Contraintes/remarques médicales spécifiques: *CASE A AJOUTER dans le formulaire voyageur* </p>
  <p>Contact d’urgence: *CASE A AJOUTER dans le formulaire voyageur*</p>
<% end %>

<h1>ACTIVITES INCLUSES DANS LE FORFAIT</h1>
<p>Visite/excursion/ac9vités: *Ac3vités comprises si applicable*</p>
<p>Pour les visites/excursions/ac9vités effectuées en groupe, le client recevra les informaWons plus précise dans un second temps.</p>

<h1>PERSONNES A MOBILITE REDUITE</h1>
<p>Ce voyage n’est pas adapté aux personnes à mobilité réduite.</p>

<h1>INDIVIDUELS REGROUPES</h1>
<p>Votre voyage est rattaché à un voyage de groupe de 8 personnes maximum, la capacité maximale d’un séjour étant de 8 voyageurs.</p>

<div class="page-break"></div>

<h1>4. FORMALITES</h1>

<h1>FORMALITES – POLICE:</h1>
<p> OUI Le(s) voyageur(s) déclare sur l’honneur avoir en sa possession les documents administraWfs requis pour son séjour dans le ou les pays concernés par ce voyage (visa à jour, passeport, etc..). Ces documents lui seront demandé à son arrivée. Si le voyageur n’est pas en possession des documents requis, il ne sera pas accepté à bord et ne pourra demander de remboursement / indemnisaWons. *CASE A AJOUTER dans le process et à cocher automa3quement*</p>
<p> OUI Le(s) voyageur(s) déclare sur l’honneur faire le nécéssaire pour répondre aux formalités sanitaires du ou des pays traversés lors de ce voyage.*CASE A AJOUTER dans le process et à cocher automa3quement*</p>

<p>Les informa3ons ci-dessus sont communiquées selon les données disponibles à la date d’établissement du contrat.</p>
<p>Nous vous conseillons de consulter, jusqu’au jour du départ, les sites:</p>
<p>hgps://www.pasteur.fr/fr</p>
<p>hgps://www.diplomaWe.gouv.fr/fr/conseils-aux-voyageurs/</p>
<p>et vous conseillons de vous inscrire sur le site Ariane:</p>
<p>hgps://pastel.diplomaWe.gouv.fr/fildariane/dyn/public/login.html</p>

<p>Mineurs:</p>
<p>Les enfants peuvent voyager avec MagicBus à compter de leur dixième anniversaire révolu.</p>
<p>Les mineurs de moins de 18 ans doivent être accompagnés lors du MagicTrip par des personnes disposant de l’autorité parentale.</p>
<p>Les enfants ne voyagent pas à tarif réduit.</p>

<div class="page-break"></div>

<h1>V - PRIX ET ANNULATION</h1>

<h1>PRIX</h1>
<p>Ce prix comprend:</p>
<p>Les prix de vente, conformément à l'article L. 112-1 du Code de la consommation sont indiqués, pour chacun des MagicTrip figurant sur le Site, en euros toutes taxes comprises, hors frais de transport d’acheminement du MagicPeople jusqu’à la Ville d’étape de départ et hors frais de transport de retour suivant la Ville d’étape d’arrivée choisie par le MagicPeople.</p>
<p>- le logement à bord d’un bus réaménagé en auberge de jeunesse (habitation)</p>
<p>- le transport durant la période de séjour (du point de départ au point d’arrivé à la fin du séjour).</p>
<p>- la participation au pot commun pour le petit-déjeuné et un repas par jour (que les voyageurs cuisineront ensemble)</p>
<p>- la mise à disposition d’équipement de loisir à bord,</p>
<p>- certaines activités comprise dans le forfait et annoncées plus haut.</p>
<p>Ce prix ne comprend pas:</p>
<p>- les activités optionnelles facturées en supplément du prix.</p>
<p>- les transports du voyageur pour rejoindre le bus à son point de départ et rejoindre son domicile depuis le point d’arrivé à la fin du séjour.</p>
<p>Prix total TTC <%= @order.total_price %> € 
<p>MODE DE REGLEMENT : Stripe</p>
<p>Le détaillant se réserve le droit, en cas de non-paiement, de constater l’annula3on du contrat par le client et d’exiger sans mise en demeure préalable l’applica3on des pénalités d’annula3on prévues ci-dessous.</p>

<h1>ASSURANCE</h1>
<p>L’assurance mulWrisques Mondial Assistance proposée par le vendeur; couvrant annulaWons/ modificaWon, assistance au voyager, frais médicaux et d’hospitalisaWon d’urgence à l’étranger, retard de transport, dommages aux bagages, responsabilité civile à l’étranger et interrupWon de séjour, pour un montant de 30€/personne; est:</p>
<p>❒ Acceptée par le client</p>
<p>❒ Refusée par le client Assureur 
<p>(Nom) Mondial Assistance</p>
<p>N°police *numéro de police*</p>
<p>❒ Contrat transmis au client</p>
<p>Si vous jus3fiez d’une garan3e antérieure pour les risques couverts par l’assurance souscrite, vous avez la possibilité de renoncer sans frais à ceRe/ces assurance(s) dans un délai de 14 jours à compter de sa conclusion et tant qu’aucune garan3e n’a été mise en œuvre.</p>

<h1>REVISION DU PRIX</h1>
<p>Conformément aux ar3cles L.211-12, R. 211-8 et R. 211-9 du Code du tourisme, les prix prévus au contrat sont révisables à la hausse comme à la baisse pour tenir compte des varia3ons du coût des transports (carburant/énergie), des redevances et taxes et des taux de change. Vous serez informé de toute hausse du prix total du forfait, au plus tard 20 jours avant le départ. CeRe hausse s’appliquera intégralement sur la part du prix concernée:</p>
<p>Part du Transport : ???</p>
<p>Redevances et taxes connues à la date du contrat : ???</p>
<p>Part des achats en Devises et taux de référence : ???</p>
<p>Pour toute hausse supérieure à 8%, vous recevrez sur un support durable le détail de la varia3on du prix, ses conséquences sur le prix du forfait, le choix qui s’offre à vous d’accepter ou de refuser dans un délai raisonnable et des conséquences de l’absence de réponse.</p>

<h1>ANNULATION PAR LE VOYAGEUR</h1>
<p>modalités d’annula3on par le voyageur à voir!</p>
<p>Absence de droit de rétracta9on</p>
<p>Conformément à l’ar3cle L221-28 du Code de la consomma3on, le présent contrat n’est pas soumis au droit de rétracta3on. Toutefois, le voyageur peut résoudre le contrat à tout moment avant le début du voyage et s’acquiRera des frais suivants:</p>
<p>Frais d’annula9on/résolu9on du contrat</p>
<p>Le voyageur a la possibilité d’annuler/résoudre le présent contrat moyennant le paiement des frais suivants (par personne ou par dossier, sur le prix total du voyage):</p>
<p>Barème d’annula9on (sur le prix total du voyage)</p>
<p>- à plus de ...................jours avant le départ : ......... € ou ........... %</p>
<p>- entre ......... jours et ....... jours avant le départ : .........€ ou ........ %</p>
<p>- entre ......... jours et ....... jours avant le départ : .........€ ou ........ %</p>
<p>OU</p>
<p>Frais réels d’annula9on: L’annulaWon du contrat par le voyageur donnera lieu à l’applicaWon des frais réels supportés par l’organisateur et le détaillant.</p>

ANNULATION PAR LE DETAILLANT OU L’ORGANISATEUR
Le voyage peut être annulé par l’organisateur ou l’agence si le nombre minimum de 2 parWcipants n’est pas inscrit :

20 jours avant la date de départ, pour les voyages dont la durée dépasse 6 jours.
7 jours avant la date de départ, pour les voyages dont la durée est de 2 à 6 jours.
48h avant la date de départ, pour les voyages dont la durée est 2 jours.
Le Voyageur sera alors remboursé de toutes les sommes qu’il aura pu verser mais ne pourra pas prétendre à une indemnisaWon. 

B. INFORMATION CONTRACTUELLE : RUBRIQUE VI à

VI - CONTACT - RESPONSABILITE – RECLAMATIONS

CONTACT
Lorsqu’une non-conformité est constatée sur place, le voyageur est tenu de la signaler au contact ci-dessous dans les meilleurs délais :
Nom ABADIE Lisette
Adresse 31 résidence du chateau, 31150 Fenouillet
06.59.09.11.65
hello@magicbusworld.com
Le défaut de signalement d’une non-conformité sur place pourra avoir une influence sur le montant des éventuels dommages-intérêts ou réducWon de prix dus si le signalement sans retard aurait pu éviter ou diminuer le dommage du client.
Le voyageur pourra également demander de l’aide auprès du contact ci-dessus en cas de difficulté sur place.

RESPONSABILITE
Le détaillant et l’organisateur sont responsables de la bonne exécuWon des services prévus au présent contrat et sont tenus d’apporter de l’aide au voyageur en difficulté.
En cas de mise en jeu de leur responsabilité de plein droit du fait des prestataires, les limites de dédommagement résultant de convenWons internaWonales selon l’arWcle L. 211-17-IV du Code du Tourisme trouveront à s’appliquer ; à défaut et sauf préjudice corporels, dommages intenWonnels ou causés par négligence, les dommages-intérêts éventuels sont limités à trois fois le prix total du voyage ou du séjour.
GARANT FINANCIER DU DETAILLANT
Nom : APST
Adresse : 15 Avenue Carnot, 75017 Paris

ASSUREUR DE RESPONSABILITE CIVILE DU DETAILLANT
Nom : HISCOX
Adresse : 12 quai des Queyries - CS 41177 - 33072 Bordeaux

CESSION DU CONTRAT
Conformément à l’arWcle L. 211-11 du Code du Tourisme, vous avez la possibilité de céder le présent contrat tant que celui-ci n’a produit aucun effet et jusqu’à 7 jours du départ, en prévenant l’agence dans un délai raisonnable, à une personne remplissant les mêmes condiWons que vous. Vous-même et le bénéficiaire de la cession demeurez solidairement tenus du paiement du solde du contrat et des frais de cession qui vous seront communiqués.

RECLAMATIONS & MEDIATION
Le voyageur peut saisir le service client du détaillant de toute réclamaWon, à l’adresse suivante : 31 résidence du château, 31150 Fenouillet par [legre RAR ou mail à hello@magicbusworld.com] accompagné(e) de tout jusWficaWf.
A défaut de réponse saWsfaisante dans un délai de 60 jours ou s’il n’est pas saWsfait de la réponse reçue, le client peut saisir gratuitement le Médiateur du Tourisme et du Voyage, dont les coordonnées et modalités de saisine sont disponibles sur le site : www.mtv.travel. Si la vente s’effectue en ligne, le voyageur a la possibilité de recourir à la plateforme disponible sur le site hgps://webgate.ec.europa.eu/odr pour régler son liWge.
