<div class="container-fluid top-margin text-center">
    <div>
        <p class="h1 my-3 text-center text-success">
            <%= fa_icon "check-circle", class: "text-success" %>
            Your payment was successful!
        </p>
        <h6 class="mb-4">Thank you for your order <%= current_user.first_name %>!</h6>
    </div>
    <div class="no-p-margin">
        <p class="mb-3">Your reservation number is: <span class="font-weight-bold"><%= @order.name %></span></p>
        <p>You will receive an e-mail shortly on:</p>
        <p class="font-weight-bold mb-3"><%= current_user.email %></p>
        <p>Please bring a copy with you when you board the bus.<p>
        <p class="small mx-5">Don't forget to check your mail's spam folder as some email providers might unfotunately consider it as so.</p>
    </div>
    <div class="mx-auto" style="width: 40%;">
        <div class="row no-gutters">
            <div class="col mx-2">
                <%= link_to "Back to My Orders", orders_path, class: "btn btn-block btn-stylised my-4" %>
            </div>
        </div>
    </div>
</div>


