<section>

  <% if @current_cart_items.count == 0 %>

  <div class="container-fluid top-margin">
      <h1 class="text-center adventpro">Your Cart is empty! Please chose some trips on the <%= link_to "TRAVEL page", trips_path, class:"yellow" %></h1>
  </div>

  <% else %>

  <div class="container-fluid top-margin">
    <div class="row">

    <div class="col-sm-8">

      <div class="container">
        <h2 class="text-center">Your Trips:</h2>

        <% @current_cart_items.each do |trip| %>
          <%= render partial: 'trips', :locals => { :trip => trip } %>
        <% end %>
      </div>
      
      <div class="container text-center">
        <h2>Your Travellers:</h2>
        <%= button_to "Add Traveller", new_traveller_path, class: "btn btn-stylised", method: :get, remote: true %>
        <% unless @cart.travellers.count == 0 %>
          <% @cart.travellers.each do |traveller| %>
            <div class="py-2">
              <%= render "travellers/traveller_info", traveller: traveller %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-4">
      <%= render "layouts/create_order" %>
    </div>

    </div>
  </div>

  <% end %>

</section>