<section>

  <% if @current_cart_items.count == 0 %>

  <div class="container-fluid top-margin">
    <div class="card mx-auto col-lg-6 m-1 border-warning px-0 border shadow-sm" style="background:#ffe475;">
      <div class="card-header py-1">
        <p class="h1 my-auto text-center">Your Cart is Empty</p>
      </div>
      <div class="text-center">
        <%= link_to "Book a Trip", trips_path, class: "adventpro btn btn-stylised border border-warning my-4" %>
      </div>
    </div>
  </div>

  <% else %>

  <div class="container-fluid top-margin">
    <div class="row">

    <div class="col-sm-8">

      <div class="container">
        <h2 class="h1 text-center dincondensed mb-2">Your Trips</h2>

        <% @current_cart_items.each do |trip| %>
          <%= render partial: 'trips', :locals => { :trip => trip } %>
        <% end %>
      </div>
      
      <div class="container text-center">
        <h2 class="h1 text-center dincondensed mb-2 mt-4">Your Travellers</h2>

        <% @cart.number_of_travellers.times do |traveller_index| %>
          <% if !@cart.travellers.order(:id)[traveller_index].present? %>
              <%= render "travellers/traveller_fill", traveller_index: traveller_index %>
          <% else %>
            <div class="py-2">
              <%= render "travellers/traveller_info", traveller: @cart.travellers.order(:id)[traveller_index] %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-4">
      <%= render "layouts/create_order" %>
    </div>

    </div>
  </div>

  <% end %>

</section>