<section>

  <% if @current_cart_items.count == 0 %>

  <div class="container-fluid top-margin">
      <h1 class="text-center adventpro">Your Cart is empty! Please chose some trips on the <%= link_to "TRAVEL page", travel_index_path, class:"yellow" %></h1>
  </div>

  <% else %>

  <div class="container-fluid top-margin">
    <div class="row">

    

    <div class="col-sm-8">
      <%= form_for(:order, :url => orders_path, :method => :post, :html=> {:id => 'my-form'})  do |form| %>

      <div class="container">
        <h2>The Trips you are booking for:</h2>

        <% @current_cart_items.each do |trip| %>
          <%= render partial: 'trips', :locals => { :trip => trip } %>
        <% end %>
      </div>

      <% @cart.trips.each do |trip| %>
        <%= form.hidden_field :trip_ids, multiple: true, value: trip.id %>
      <% end %>
      
      <%= form.hidden_field :total_price, value: @total_price %>
      <%= form.hidden_field :promo_code, value: @current_promo_code%>

      <div class="container">
        <h2>Your Travellers:</h2>

      </div>
    </div>

    <div class="col-sm-4">
    </div>

      <% end %>

    </div>
  </div>

  <% end %>

</section>