<div class="container small-padding" id="order-checkboxes">
    <div class="form-check">
        <%= label_tag :order_first_checkbox, class:"form-check-label small" do %>
        <%= check_box_tag :order_first_checkbox, class:"form-check-input" %>
            En cochant cette case, pour moi-même ainsi que pour le compte des autres voyageurs inscrits, je certifie:
        <% end %>
        <ul class="small">
            <li>
                <p>Avoir pris connaissance - avant le paiement – de l’offre répondant aux exigences de l’article R. 211-4 du Code du Tourisme, des conditions particulières de vente de voyages et du formulaire standard d’information,</p>
            </li>
            <li>
                <p>Avoir pris connaissance des informations liées à la situation politique et sanitaire de la destination choisie figurant dans la rubrique conseils-aux-voyageurs du site <a href="https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/" target="_blank" class="pdf-btn">diplomatie.gouv.fr</a> (plus spécifiquement concernant les sous rubriques « risque pays » et « santé ») à consulter régulièrement jusqu’au départ,</p>
            </li>
            <li>
                <p>Avoir pris connaissance de la brochure et du programme de l’organisateur,</p>
            </li>
        </ul>
    </div>

    <div class="form-check">
        <%= label_tag :order_third_checkbox, class:"form-check-label small" do %>
        <%= check_box_tag :order_third_checkbox, class:"form-check-input" %>
            En cochant cette case, je reconnais avoir lu et accepté les 
            <%= link_to asset_path("/pdf/magicbus_cgv.pdf"), target: "_blank", class:"pdf-btn" do %>
                conditions générales de vente.
            <% end %>
        <% end %>
    </div>

    <br/>

    <div class="form-check">
        <%= label_tag :order_second_checkbox, class:"form-check-label small" do %>
        <%= check_box_tag :order_second_checkbox, class:"form-check-input" %>
            En cochant cette case, la personne accepte de 
                <%= link_to asset_path("/pdf/magicbus_rgpd.pdf"), target: "_blank", class: "pdf-btn" do %>
                    transmettre ses données
                <% end %>    
                et garantit qu’il a recueilli le consentement des autres voyageurs aux mêmes fins. Nous collectons ces données pour la bonne execution du contrat de voyage.</p>
        <% end %>
    </div>
</div>



