<% unless @paid_orders.empty? %>

<div class="row justify-content-center mt-3">
  <% @paid_orders.each do |order| %>
    <div class="card col-lg-9 col-sm-12 m-1 px-0 py-4 border-0 shadow-sm my-2 rounded-pill background-yellow">
      
      <div class="row no-gutters my-auto">

        <div class="col-lg-9 col-sm-12">
          <p class="mb-0 ml-4"><%= t("paid_orders.order_no") %><span class="font-weight-bold"><%= order.name %></span>, <%= t("paid_orders.paid_on") %> <span class="font-weight-bold"><%= order.paid_at.strftime("%d/%m/%Y") %></span> | <%= t("recent_orders.total_ttc") %>: <span class="font-weight-bold"><%= order.total_price_calc %>€</span></p>
        </div>

        <div class="col-lg-2 col-sm-12 my-auto small mx-2 text-center">
          <%= link_to t("paid_orders.download_pdf"), order_path(order, format: :pdf), class: "pdf-btn" %>
        </div>   
      </div>

    </div>
  <% end %>
</div>

<% else %>

<div class="container-fluid mt-5">
    <div class="card mx-auto col-lg-6 m-1 px-0 shadow-sm background-yellow">
        <div class="card-header py-1">
        <p class="h1 my-auto text-center"><%= t("paid_orders.no_paid_orders") %></p>
        </div>
        <div class="text-center">
        <%= link_to "Book a Trip", trips_path, class: "adventpro btn btn-stylised border-secondary my-4" %>
        </div>
    </div>
</div>

<% end %>