<div class="mb-3">
    <h3>Forfait</h3>
    <p>Sauf exception mentionnée dans la description des voyages sélectionnés (ci-dessus):</p>
</div>

<div class="my-3">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h6>Le prix comprend:</h6>
            <ul class="small">
                <li>l’hébergement à bord de MagicBus: un lit équipé de draps et coussin, un casier pour ranger son sac (70 x 40 x 30 cm maximum) et toutes les accommodations en libre service (salle de bain, cuisine, wc, mobilier)</li>
                <li>les campings et parkings payants</li>
                <li>le transport en autobus: gasoil et péages compris.</li>
                <li>le petit-déjeuner et la participation au pot commun pour le repas du soir (que nous cuisinerons ensemble)</li>
                <li>les activités comprises et stipulées dans le descriptif du voyage (si il y a)</li>
                <li>l’utilisation des équipements sportifs et de détente à disposition dans le bus: canoë-kayak, surf, skate, jeux de société, jeux extérieurs, etc…</li>
                <li>le thé et café à volonté, et la bière de bienvenue!</li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h6>Ne comprends pas:</h6>
            <ul class="small">
                <li>le transport pour rejoindre et quitter le bus</li>
                <li>les activités / excursions / visites non incluses dans le forfait choisi</li>
                <li>la location du matériel autre que celui à bord</li>
                <li>l’assurance voyage</li>
                <li>le repas du midi</p>
            </ul>
        </div>
    </div>
</div>

<div class="row justify-content-center no-p-margin">
    <div class="col-lg-6 col-sm-12 mb-3">
        <h3>Annulation</h3>
        <p>Selon l'article L. 211-14 du Code du Tourisme, le voyage peut-être annulé par l'organisateur ou l'agence si le nombre minimum de 2 participants n'est pas inscrit, 7 jours avant la date de départ.</p>
        <p>Voir la 
            <%= link_to asset_path("/pdf/magicbus_annulation_fr.pdf"), target: "_blank", class:"pdf-btn" do %>
                politique d'annulation.
            <% end %>
        </p>
    </div>

    <div class="col-lg-6 col-sm-12">
        <h3>Assurance</h3>
        <p>L’assurance voyageur n’est pas incluse dans le forfait MagicBus. Toutefois, le voyageurs peut souscrire à une assurance adaptée, par Chapka Assurance, via le
        <%= link_to "https://www.chapkadirect.fr/index.php?action=produit&id=824&app=cd_magicbus", target: "_blank", class:"pdf-btn" do %>
            lien suivant.
        <% end %>
    </div>
</div>

<div>
    <h3 class="my-4">Détail du paiement</h3>

    <div class="table-responsive small">
        <table class="table table-bordered">
        <thead>
            <tr class="table-active">
            <th scope="col" style="width: 40%;">Services</th>
            <th scope="col" style="width: 20%;">Prix TTC</th>
            <th scope="col" style="width: 20%;">Quantité</th>
            <th scope="col" style="width: 20%;">TOTAL TTC</th>
            </tr>
        </thead>
        <tbody>
            <% order.trips.each do |trip| %>
            <tr>
            <th scope="row" class="table-active">Semaine <%= trip.week %></th>
            <td class="text-right"><%= trip.price %>€</td>
            <td class="text-right"><%= order.travellers.count %></td>
            <td class="text-right"><%= trip.price * order.travellers.count %>€</td>
            </tr>
            <% end %>
            <%# <tr>
            <th scope="row">Optional: Specific Food Diets</th>
            <td>-30</td>
            <td>1</td>
            <td>-30</td>
            </tr> %>
        </tbody>
        </table>
    </div>
</div>



