<% if @recent_order %>

    <div class="row justify-content-center my-5">
        <div class="card col-9 m-1 px-0 py-4 border-0 shadow-sm my-2 background-yellow">
            <div class="row no-gutters my-auto">
                <div class="col-9">
                <h4 class="mb-0 ml-4 adventpro font-weight-bold"><%= t("recent_orders.travellers_info") %></h4>
                </div>
            </div>
        </div>
    </div>

    <%= render "orders/partials/travellers", order: @recent_order %>

    <div class="row justify-content-center my-5">
        <div class="card col-9 m-1 px-0 py-4 border-0 shadow-sm my-2 background-yellow">
        <div class="row no-gutters my-auto">
            <div class="col-9">
            <h4 class="mb-0 ml-4 adventpro font-weight-bold"><%= t("recent_orders.trips_info") %></h4>
            </div>
        </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-9 col-sm-12 my-auto">       
            <% @recent_order.trips.each do |trip| %>
                <%= render "orders/partials/trip", trip: trip %>
            <% end %>
        </div>
    </div>

    <div class="container smaller-padding my-5">
        <%= render "orders/partials/trips_specifications" %>
    </div>

    <div class="row justify-content-center my-5">
        <div class="card col-9 m-1 px-0 py-4 border-0 shadow-sm my-2 background-yellow">
        <div class="row no-gutters my-auto">
            <div class="col-9">
            <h4 class="mb-0 ml-4 adventpro font-weight-bold"><%= t("recent_orders.payment_info") %></h4>
            </div>
        </div>
        </div>
    </div>

    <div class="container smaller-padding mt-5">
        <%= render "orders/partials/price_specifications", order: @recent_order %>
    </div>

    <% if @recent_order.coupon %>
        <div class="container smaller-padding text-center my-5">
            <div>Promo Code: <%= @recent_order.coupon.code %></div>
            <div>- <%= @recent_order.total_price - @recent_order.total_price_calc %>€ (<%= @recent_order.coupon.reduction_percentage %>% Reduction)</div>
            <%= link_to "Delete", order_promo_code_path(@recent_order), method: :delete, class: "btn btn-stylised", remote: true %>
        </div>
    <% else %>
        <div class="container-fluid my-5 text-center">
            <%= link_to order_promo_code_path(@recent_order), class: "btn btn-stylised py-3", remote: true do %>
                <p class="my-auto small adventpro"><%= t("recent_orders.enter_code") %></p>
            <% end %>
        </div>
    <% end %>

    <div class="my-4">
        <h4 class="text-center"><%= t("recent_orders.total_ttc") %>: <span class="mx-3"><%= @recent_order.total_price_calc %>€</span></h4>
    </div>

    <%= render "orders/partials/checkboxes" %>

    <div class="container smallest-padding text-center">
        <div class="no-p-margin mt-3" id="stripe-alert" style="display: none;">
            <p class="bg-danger text-white p-3 rounded">Veuillez cocher les cases ci-dessus avant de procéder au paiement.</p>
        </div>
    </div>

    <div class="mt-3 text-center" id="stripe-div">
        <%= link_to order_new_payment_path(@recent_order), class:"close-navbar btn btn-lg btn-gradient shadow-sm disabled", id: "stripe-payment-btn", remote: true do %>
            <h5 class="mb-0 p-2 adventpro" id="stripe-text"><%= t("recent_orders.pay_order") %></h5>
            <%= image_tag("/images/logo_stripe.png", class:"img-fluid", size: "150x150") %>
        <% end %>
    </div>

    <%= content_tag :div, '', id: 'order_name_js', data: { source: @recent_order.name.downcase } %>

<% else %>

<div class="container-fluid mt-5">
    <div class="card mx-auto col-lg-6 m-1 px-0 shadow-sm background-yellow">
        <div class="card-header py-1">
            <p class="h1 my-auto text-center"><%= t("recent_orders.no_recent_orders") %></p>
        </div>
        <div class="text-center">
            <%= link_to "Book a Trip", trips_path, class: "adventpro btn btn-stylised border-secondary my-4" %>
        </div>
    </div>
</div>

<% end %>












