  <div class="card login-form text-center">

        <h1 class="card-header adventpro yellow text-center display-5">Log-In</h1>

    <div class="card-body">
      
      <div id="close-button">
      </div>
      
      <%= form_for resource, as: resource_name, url: session_path(resource_name), remote: true do |f| %>

      <div class="form-group text-center">
        <%= f.label :email, "Email", class: "adventpro" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group text-center">
        <%= f.label :password, "Mot de passe", class: "adventpro" %> <br>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-group text-center">
        <% if devise_mapping.rememberable? %>
          <div class="field text-center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "adventpro" %>
          </div>
        <% end %>
      </div>

      <div class="small">
        <p>No account? You can register <%= link_to "here", new_user_registration_path, remote: true, style: "color:black; text-decoration: underline;" %>!</p>
      </div>

      <div class="actions mt-5">
        <%= f.submit "Valider", class: "btn btn-lg btn-stylised btn-block adventpro" %>
      </div>

      <% end %>

    </div>
  </div>



    

