- if @abstract_models
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th.shrink.model-name
        %th.shrink.last-created
        %th.records
        %th.shrink.controls
    %tbody
      - @dashboard_models.each do |abstract_model|
        - if authorized? :index, abstract_model
          - index_path = index_path(model_name: abstract_model.to_param)
          - row_class = "#{cycle("odd", "even")}#{" link" if index_path} #{abstract_model.param_key}_links"
          %tr{class: row_class, :"data-link" => index_path}
            - last_created = @most_recent_created[abstract_model.model.name]
            - active = last_created.try(:today?)
            %td
              %span.show= link_to capitalize_first_letter(abstract_model.config.label_plural), index_path, class: 'pjax'
            %td
              - if last_created
                = t "admin.misc.time_ago", time: time_ago_in_words(last_created), default: "#{time_ago_in_words(last_created)} #{t("admin.misc.ago")}"
            %td
              - count = @count[abstract_model.model.name]
              - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
              .progress{style: "margin-bottom:0px", class: "progress-danger active progress-striped"}
                .progress-bar.animate-width-to{:class => "progress-bar-danger", :'data-animate-length' => ([1.0, percent].max.to_i * 20), :'data-animate-width-to' => "#{[3.0, percent].max.to_i}%", style: "width:2%"}
                  = @count[abstract_model.model.name]
            %td.links
              %ul.inline.list-inline= menu_for :collection, abstract_model, nil, true

      %tr{class: "even link"}
        %td
          %span.show= "Secret Spots"
        %td
        %td
          - count = Place.where(secret_status: true).count
          - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
          .progress{style: "margin-bottom:0px", class: "progress-info active progress-striped"}
            .progress-bar.animate-width-to{:class => "progress-bar-info", :'data-animate-length' => ([1.0, percent].max.to_i * 20), :'data-animate-width-to' => "#{[3.0, percent].max.to_i}%", style: "width:2%"}
              = "#{count}"
              
      %tr{class: "even link"}
        %td
          %span.show= "Approved Spots"
        %td
        %td
          - count = Place.where(approved_status: true).count
          - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
          .progress{style: "margin-bottom:0px", class: "progress-info active progress-striped"}
            .progress-bar.animate-width-to{:class => "progress-bar-info", :'data-animate-length' => ([1.0, percent].max.to_i * 20), :'data-animate-width-to' => "#{[3.0, percent].max.to_i}%", style: "width:2%"}
              = "#{count}"

      %tr{class: "even link"}
        %td
          %span.show= "Unapproved Spots"
        %td
        %td
          - count = Place.where(approved_status: false).count
          - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
          .progress{style: "margin-bottom:0px", class: "progress-info active progress-striped"}
            .progress-bar.animate-width-to{:class => "progress-bar-info", :'data-animate-length' => ([1.0, percent].max.to_i * 20), :'data-animate-width-to' => "#{[3.0, percent].max.to_i}%", style: "width:2%"}
              = "#{count}"

      %tr{class: "even link"}
        %td
          %span.show= "Paid Orders"
        %td
        %td
          - count = Order.where(payment_status: true).count
          - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
          .progress{style: "margin-bottom:0px", class: "progress-warning active progress-striped"}
            .progress-bar.animate-width-to{:class => "progress-bar-warning", :'data-animate-length' => ([1.0, percent].max.to_i * 20), :'data-animate-width-to' => "#{[3.0, percent].max.to_i}%", style: "width:2%"}
              = "#{count}"

      %tr{class: "even link"}
        %td
          %span.show= "Paid Travellers"
        %td
        %td
          - count = Order.where(payment_status: true).map{|order| order.travellers}.count
          - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
          .progress{style: "margin-bottom:0px", class: "progress-warning active progress-striped"}
            .progress-bar.animate-width-to{:class => "progress-bar-warning", :'data-animate-length' => ([1.0, percent].max.to_i * 20), :'data-animate-width-to' => "#{[3.0, percent].max.to_i}%", style: "width:2%"}
              = "#{count}"

      %tr{class: "even link"}
        %td
          %span.show= "Approx. Revenue"
        %td
        %td
          - count = Order.where(payment_status: true).pluck(:total_price).sum
          - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
          .progress{style: "margin-bottom:0px", class: "progress-success active progress-striped"}
            .progress-bar.animate-width-to{:class => "progress-bar-success", :'data-animate-length' => (5), :'data-animate-width-to' => "100%", style: "width:2%"}
              = "#{count}€"
      %tr{class: "even link"}
- if @auditing_adapter && authorized?(:history_index)
  #block-tables.block
    .content
      %h2= t("admin.actions.history_index.menu")
      = render partial: 'rails_admin/main/dashboard_history'