<div id="side-menu" class="sidenav">
    <ul>
        <li class="my-1">
            <a href="#concept" class="active small"><%= t('sidenav.concept')%><span class="ml-3"><%= fa_icon 'circle' %></a>
        </li>
        <li class="my-1">
            <a href="#team" class="small"><%= t('sidenav.team')%><span class="ml-3"><%= fa_icon 'circle' %></span></a>
        </li>
        <li class="my-1">
            <a href="#sponsors" class="small"><%= t('sidenav.sponsors')%><span class="ml-3"><%= fa_icon 'circle' %></a>
        </li>
    </ul>
</div>

<script>
$(document).ready(function () {
    $(document).on("scroll", onScroll);
    
    //smoothscroll
    $('a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        $(document).off("scroll");
        
        $('a').each(function () {
            $(this).removeClass('active');
        })
        $(this).addClass('active');
      
        var target = this.hash,
            menu = target;
        $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top+2
        }, 500, 'swing', function () {
            window.location.hash = target;
            $(document).on("scroll", onScroll);
        });
    });
});

function onScroll(event){
    var scrollPos = $(document).scrollTop();
    $('#side-menu a').each(function () {
        var currLink = $(this);
        var refElement = $(currLink.attr("href"));
        if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
            $('#side-menu ul li a').removeClass("active");
            currLink.addClass("active");
        }
        else{
            currLink.removeClass("active");
        }
    });
}
</script>