<%= render "discover/sidenav" %>

<section>
    <div>
        <%= image_tag "/images/index_discover.jpg", class: "image-cover" %>
    </div>

    <div class="container mt-5">
        <h1 class="first-title text-center"><%= t('discover.what_is_magicbus') %></h1>
    </div>

</section>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200"><path fill="#e9d520" fill-opacity="1" d="M0,160L60,133.3C120,107,240,53,360,42.7C480,32,600,64,720,96C840,128,960,160,1080,165.3C1200,171,1320,149,1380,138.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

<section class="pb-5" id="video-section">
    <iframe src="https://www.youtube.com/embed/15XZoljxU2o" id="discover-video" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>

<section id="concept">
    <div class="container smallest-padding py-4 mt-5">
        <%= render "what_we_do" %>
        <div class="container-fluid text-center pt-5">
            <%= link_to trips_path, class: "btn btn-lg btn-gradient" do %>
                <h4 class="mb-0 p-2 adventpro"><%= t("discover.book_a_trip") %></h3>
            <% end %>
        </div>
    </div>
</section>

<section>

    <div class="container smaller-padding mt-5">
        <div class="row no-gutters justify-content-center">       
            <div class="card col-sm-3 col-md col-lg-3 flex-row mx-2 mb-4 bg-light border shadow-lg">
                <div class="card-title mx-2 my-auto">
                    <%= fa_icon "road 3x", class:"text-muted" %>
                </div>
                <div class="card-body text-right background-yellow-lighter">
                    <h2><%= @total_trips %></h2><span class="small text-muted"><%= t('discover.number_of_trips') %></span>
                </div>
            </div>

            <div class="card col-sm-3 col-md col-lg-3 flex-row mx-2 mb-4 bg-light border shadow-lg">
                <div class="card-title mx-2 my-auto">
                    <%= fa_icon "user 3x", class:"text-muted px-2" %>
                </div>
                <div class="card-body text-right background-yellow-lighter">
                    <h2><%= @total_users %></h2><span class="small text-muted"><%= t('discover.number_of_users') %></span>
                </div>
            </div>

            <div class="card col-sm-3 col-md col-lg-3 flex-row mx-2 mb-4 bg-light border shadow-lg">
                <div class="card-title mx-2 my-auto">
                    <%= fa_icon "suitcase 3x", class:"text-muted" %>
                </div>
                <div class="card-body text-right background-yellow-lighter">
                    <h2><%= @total_travellers %></h2><span class="small text-muted"><%= t('discover.number_of_travellers') %></span>
                </div> 
            </div>
        </div>
    </div>

    <div class="blackline"></div>
</section>

<section id="team">
    <div class="container smaller-padding mb-5">

        <h1 class="text-center first-title"><%= t('discover.magicians') %></h1>
        <h2 class="text-center brandon-g mb-5"><%= t('discover.we_work_with') %>?</h2>

            <div class="row no-gutters"> 
            
            <div class="col-6 col-sm-4 col-md-3 p-2 ">
                <div class="snip1577 shadow-sm">
                <%= image_tag "/images/photo_Lilly.jpg", class: "img-fluid" %>
                <div class="figcaption">
                    <h3>Lisette</h3>
                    <h4><%= t('team.lisette')%></h4>
                </div class="figcaption">
                </div>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 p-2">
                <div class="snip1577 shadow-sm">
                <%= image_tag "/images/photo_Coco.jpg", class: "img-fluid" %>
                <div class="figcaption">
                    <h3>Coralie</h3>
                    <h4><%= t('team.coralie')%></h4>
                </div class="figcaption">
                </div>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 p-2">
                <div class="snip1577 shadow-sm">
                <%= image_tag "/images/photo_Michel.jpg", class: "img-fluid" %>
                <div class="figcaption">
                    <h3>Michel</h3>
                    <h4><%= t('team.michel')%></h4>
                </div class="figcaption">
                </div>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 p-2">
                <div class="snip1577 shadow-sm">
                <%= image_tag "/images/photo_Paulo.jpg", class: "img-fluid" %>
                <div class="figcaption">
                    <h3>Paul</h3>
                    <h4><%= t('team.paul')%></h4>
                </div class="figcaption">
                </div>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 p-2">
                <div class="snip1577 shadow-sm">
                <%= image_tag "/images/photo_Margot.jpg", class: "img-fluid" %>
                <div class="figcaption">
                    <h3>Margot</h3>
                    <h4><%= t('team.margot')%></h4>
                </div class="figcaption">
                </div>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 p-2">
                <div class="snip1577 shadow-sm">
                <%= image_tag "/images/photo_Bastien.jpg", class: "img-fluid" %>
                <div class="figcaption">
                    <h3>Bastien</h3>
                    <h4><%= t('team.bastien')%></h4>
                </div class="figcaption">
                </div>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 p-2">
                <div class="snip1577 shadow-sm">
                <%= image_tag "/images/photo_Fantine.jpg", class: "img-fluid" %>
                <div class="figcaption">
                    <h3>Fantine</h3>
                    <h4><%= t('team.fantine')%></h4>
                </div class="figcaption">
                </div>
            </div>
            
            <div class="col-6 col-sm-4 col-md-3 p-2">
                <div class="snip1577 shadow-sm">
                <%= image_tag "/images/photo_Matt.jpg", class: "img-fluid" %>
                <div class="figcaption">
                    <h3>Matthieu</h3>
                    <h4><%= t('team.matthieu')%></h4>
                </div class="figcaption">
                </div>
            </div>
            </div>
    </div>     

    <div class="blackline"></div>
</section>

<section id="sponsors">
    <div class="container small-padding">
        <h1 class="text-center first-title mb-5"><%= t('discover.our_sponsors') %></h1>
        <div class="row no-gutters justify-content-center"> 
            <div class="col-6 col-sm-4 col-md-3 p-4">
                <%= link_to "https://voyages.michelin.fr/", target: "_blank" do %>
                    <div class="snip1577 shadow-sm bg-white rounded-circle text-center">
                        <%= image_tag "/images/sponsor_michelin.png", size: "300x300", class: "img-fluid" %>
                    </div>
                <% end %>
            </div>   
            <div class="col-6 col-sm-4 col-md-3 p-4">
                <%= link_to "https://www.espace-stores.fr/", target: "_blank" do %>
                    <div class="snip1577 shadow-sm bg-white rounded-circle text-center">
                    <%= image_tag "/images/sponsor_espacestores.png", size: "300x300", class: "img-fluid" %>
                    </div>
                <% end %>
            </div>
            <div class="col-6 col-sm-4 col-md-3 p-4">
                <%= link_to "https://www.instagram.com/lartisanducol/", target: "_blank" do %>
                    <div class="snip1577 shadow-sm bg-white rounded-circle text-center">
                    <%= image_tag "/images/sponsor_artisanducol.png", size: "300x300", class: "img-fluid" %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="row no-gutters justify-content-center"> 
            <div class="col-6 col-sm-4 col-md-3 p-4">
                <%= link_to "https://www.instagram.com/latelierfute/", target: "_blank" do %>
                    <div class="snip1577 shadow-sm bg-white rounded-circle text-center">
                    <%= image_tag "/images/sponsor_atelierfute.png", size: "300x300", class: "img-fluid" %>
                    </div>
                <% end %>
            </div>
            <div class="col-6 col-sm-4 col-md-3 p-4">
                <%= link_to "https://www.energiedouce.com/", target: "_blank" do %>
                    <div class="snip1577 shadow-sm bg-white rounded-circle text-center">
                    <%= image_tag "/images/sponsor_energiedouce.png", size: "300x300", class: "img-fluid" %>
                    </div>
                <% end %>
            </div>
            <div class="col-6 col-sm-4 col-md-3 p-4">
                <%= link_to "http://maforpro.ac-toulouse.fr/", target: "_blank" do %>
                    <div class="snip1577 shadow-sm bg-white rounded-circle text-center">
                    <%= image_tag "/images/sponsor_greta.png", size: "300x300", class: "img-fluid" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

