<div class="card login-form">
      
  <h1 class="card-header adventpro yellow text-center display-5"><%= t('share.share_spot') %></h1>

  <div class="card-body">
    <div id="close-button">
  </div>

  <%= form_with(model: place, remote: true) do |form| %>

  <%= recaptcha_v3(action: "share", turbolinks: true) %>

  <div class="row text-center">

    <div class="col-md-8 mx-auto">
      <div id="map2"></div>
    </div>

<div class="col-lg-4 my-auto">
  
  <div class="form-group">
    <label class="small mb-0"><%= t("share_form.search_address") %>:</label>
    <input id="maps-search-input" class="controls form-control border border-warning rounded mt-1" type="text" placeholder="1 Rue Dupont, Paris">
  </div>

  <div class="form-group m-0 pt-3">
    <%= form.label :secret_status, t('share_form.is_secret'), class: "small" %>
    <%= form.check_box :secret_status, {id: "checkbox1"}, "true", "false" %>
  </div>

  <div class="form-group">
    <%= form.text_field :name, :maxlength => 25, class: "form-control form-control-sm input-sm rounded border", placeholder: t('general_forms.name') %>
  </div>

  <div class="form-group">
      <%= form.text_field :description, class: "rounded border form-control form-control-sm", placeholder: t('general_forms.description') %>
  </div>

  <%if place.image_one.attached? || place.image_two.attached? || place.image_three.attached? %>
      <p><%= t('share_form.current_pictures') %>:</p>
  <% end %>

  <% if place.image_one.attached? %>
    1: <%= image_tag(place.image_one, size: "50x50")%>
  <% end %>

  <% if place.image_two.attached? %>
    2: <%= image_tag(place.image_two, size: "50x50")%>
  <% end %>

  <% if place.image_three.attached? %>
    3: <%= image_tag(place.image_three, size: "50x50")%>
  <% end %>

  <div class="form-group">
    <div class="custom-file my-1">
      <%= form.file_field :image_one, class:"custom-file-input", id:"fileOne" %>
      <%= form.label :pictures, t('share_form.picture_1'), class:"custom-file-label form-control-sm", for:"fileOne" %>
    </div>

    <div class="custom-file my-1">
      <%= form.file_field :image_two, class:"custom-file-input", id:"fileTwo" %>
      <%= form.label :pictures, t('share_form.picture_2'), class:"custom-file-label form-control-sm", for:"fileTwo" %>
    </div>

    <div class="custom-file my-1">
      <%= form.file_field :image_three, class:"custom-file-input", id:"fileThree" %>
      <%= form.label :pictures, t('share_form.picture_3'), class:"custom-file-label form-control-sm", for:"fileThree" %>
    </div>
  </div>

  <%= form.hidden_field :location, value: form.object.location.to_json %>

  <p style="font-size: 10px;"><%= t('share_form.dont_forget') %>!</p>
  
  <div class="mb-3">
    <%= form.button t('share_form.share_spot'), class: "btn btn-block btn-stylised shadow py-3", id:"spot-submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
  </div>

  <% if user_signed_in? %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  <% else %>
    <%= form.hidden_field :user_id, :value => nil %>
  <% end %>

  <% end %>

  </div>

</div>

<script>
// Show name of file when uploading images
$('.custom-file-input').on('change', function() { 
   let fileName = $(this).val().split('\\').pop(); 
   $(this).next('.custom-file-label').addClass("selected").html(fileName); 
});
</script>






