<section>
  <div>
    <%= image_tag "/images/index_share.jpg", class: "image-cover" %>
  </div>

  <div class="container mt-5">
      <h1 class="first-title text-center"><%= t('share.share_your_tips') %></h1>
  </div>

    <div class="blackline"></div>

</section>

<div class="container smallest-padding">
  <%= render "share" %>
</div>

<section>

  <div class="container-fluid text-center">
        
    <div class="container small-padding">
        <div id="map" class="mx-auto my-2"></div>
    </div>

    <div class="row my-2 justify-content-center">

      <div class="col-lg-2 col-5 px-1 border shadow-sm mx-2 background-yellow mb-1">
        <div class="row no-gutters">
          <div class="col-2">
            <%= image_tag("/images/marker_yellow.png", class: "m-auto", size: "40x40") %>
          </div>
          <div class="col-10 m-auto">
            <p class="small m-0"><%= t('share.shared_spot') %></p>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-5 px-1 border shadow-sm mx-2 background-yellow mb-1">
        <div class="row no-gutters">
          <div class="col-2">
            <%= image_tag("/images/marker_red.png", class: "m-auto", size: "40x40") %>
          </div>
          <div class="col-10 m-auto">
            <p class="small m-0"><%= t('share.waiting_approval') %></p>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-5 px-1 border shadow-sm mx-2 background-yellow mb-1">
        <div class="row no-gutters">
          <div class="col-2">
            <%= image_tag("/images/marker_blue.png", class: "m-auto", size: "40x40") %>
          </div>
          <div class="col-10 m-auto">
            <p class="small m-0"><%= t('share.secret_spot') %>, Total: <%= @secret_spots_count %></p>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-5 px-1 border shadow-sm mx-2 background-yellow mb-1">
        <div class="row no-gutters">
          <div class="col-2">
            <%= image_tag("/images/marker_cluster.svg", class: "m-auto", size: "40x40") %>
          </div>
          <div class="col-10 m-auto">
            <p class="small m-0"><%= t('share.cluster_spots') %></p>
          </div>
        </div>
      </div>

    </div>

  <% if user_signed_in? && current_user.places.any? %>

  <div class="container small-padding mt-4">

      <h3 class="first-title text-center mt-5"><%= t('share.your_shared_spots') %></h3>

      <div class="blackline"></div>

      <div class="row justify-content-center m-2">
        <% @user_places.each do |spot| %>
          <div class="card col-lg-2 m-2 px-0 shadow-sm border-0 background-yellow">
          
              <div class="row no-gutters">
                <div class="col-9 my-auto ml-2">
                  <p class="mb-0" style="font-size: 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden"><%= spot.name %></p>
                </div>
                <div class="col-2">
                <% if spot.secret_status == true %>
                  <%= image_tag("/images/marker_blue.png", size: "25x25") %>
                <% elsif spot.approved_status == true %>
                  <%= image_tag("/images/marker_yellow.png", size: "25x25") %>
                <% else %>
                  <%= image_tag("/images/marker_red.png", size: "25x25") %>
                <% end %>
                </div>
              </div>

            <div class="row h-100 no-gutters my-auto py-2">

                  <div class="col">
                    <a class="btn btn-info center-map-point">
                      <%= fa_icon "eye"%>
                    </a>
                    <%= hidden_field_tag :spot_location, spot.location.to_json %>
                  </div>

                  <% unless spot.approved_status == true %>
                    <div class="col">
                      <%= button_to edit_place_path(spot), method: :get, remote: true, class: "btn btn-warning" do %>
                        <%= fa_icon "edit" %>
                      <% end %>              
                    </div>

                    <div class="col">
                      <%= button_to spot, method: :delete, class:"btn btn-danger" do %>
                        <%= fa_icon "trash" %>
                      <% end %>
                    </div>
                  <% end %>

            </div>

          </div>
        <% end %>
    <div class="container-fluid text-center mt-5">
        <%= button_to new_place_path, method: :get, class: "btn btn-lg btn-gradient", remote: true do %>
            <h5 class="mb-0 p-1 adventpro"><%= t("share.share_another_spot") %></h5>
        <% end %>
    </div>
      </div>
    </div>
  </div>




    </div>
    <% end %>

  </div>

</section>

<script>
  var locations = [
    <% @places.each do |place| %>
      {lat: <%= place.location['lat'] %>, lng: <%= place.location['lng'] %>},
    <% end %>
  ]

  var names = [
    <% @places.each do |place| %>
      "<%= place.name %>",
    <% end %>
  ]

  var anecdotes = [
    <% @places.each do |place| %>
      "<%= place.description %>",
    <% end %>
  ]

  var approvals = [
    <% @places.each do |place| %>
      <%= place.approved_status %>,
    <% end %>
  ]

  var secrets = [
    <% @places.each do |place| %>
      <%= place.secret_status %>,
    <% end %>
  ]

  var users = [
    <% @places.each do |place| %>
      <% if place.user %>
        "<%= place.user.first_name %> <%= place.user.last_name[0] %>.",
      <% else %>
        I18n.t("js.maps.share.visitor"),
      <% end %>
    <% end %>
  ]

  var usersLogo = [
    <% @places.each do |place| %>
      <% if place.user %>
        <% if place.user.picture.attached? %>
          "<%= rails_blob_url(place.user.picture) %>",
        <% else %>
          undefined,
        <% end %>
      <% else %>
        undefined,
      <% end %>
    <% end %>
  ]

  var blobOne = [
    <% @places.each do |place| %>
      <% if place.image_one.attached? %>
        "<%= rails_blob_url(place.image_one) %>",
      <% else %>
        undefined,
      <% end %>
    <% end %>
  ]

  var blobTwo = [
    <% @places.each do |place| %>
      <% if place.image_two.attached? %>
      "<%= rails_blob_url(place.image_two) %>",
      <% else %>
        undefined,
      <% end %>
    <% end %>
  ]

  var blobThree = [
    <% @places.each do |place| %>
      <% if place.image_three.attached? %>
        "<%= rails_blob_url(place.image_three) %>",
      <% else %>
        undefined,
      <% end %>
    <% end %>
  ]
</script>

<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
          initPlacesMap();
        });
    </script>
<% end %> 

<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
