<div class="cart">

    <div class="arrow-header">
      <p class="small mb-0 text-center my-auto py-3 hide-sm">Order Info</p>
      <button class="btn btn-block btn-arrow hide-lg" type="button" data-toggle="collapse" data-target="#collapse-cart" aria-expanded="false" aria-controls="collapseExample">
        <i id="arrow-button" class="fa fa-chevron-circle-up fa-2x my-2"></i>
        <p class="small">More Info</p>
      </button>
    </div>

    <div class="collapse dont-collapse-sm" id="collapse-cart">

      <div class="container my-5 text-center">
          <p class="small"><%= @travellers_count %> Travellers<p> 
          <p><%= @total_trips_price %>€ per Traveller<p>
          <% if @insured_travellers > 0 %>
            <p class="small"><%= @insured_travellers %>x Insurances: <%= @insurance_price %>€<p>
          <% end %>
          <% if @vegan_travellers > 0 %>
            <p class="small"><%= @vegan_travellers %>x Meals non included: -<%= @food_deduction %>€<p>
          <% end %>
          <h1><span id="total-cart-price"><%= @total_price %></span> €</h1>
      </div>

      <div id="validatecart" class="text-center">
        <%= form_for(:order, :url => orders_path, :method => :post)  do |f| %>
          <%= f.hidden_field :total_price, value: @total_price %>

          <% @cart.travellers.each do |traveller| %>
            <%= f.hidden_field :traveller_ids, multiple: true, value: traveller.id %>
          <% end %>

          <% @cart.trips.each do |trip| %>
            <%= f.hidden_field :trip_ids, multiple: true, value: trip.id %>
          <% end %>

          <div class="form-check mx-3 mb-4">
            <%= f.check_box :correct_information, class:"form-check-input" %>          
            <%= f.label :correct_information, class:"form-check-label" do %> 
              <p>I certify that the information provided concerning each traveller is correct and has been double-checked.</p>
              <p class="text-danger">You will not be able to modify any information after this page.</p>
            <% end %>
          </div>

          <%= f.submit "Create Order", class: "btn btn-stylised btn-block py-3" %>

        <% end %>
      </div>

    </div>

</div>

<script>
// Change arrow of cart/stripe according to collapse status
$(document).ready(function() {
  $('#collapse-cart').on('shown.bs.collapse', function() {
    $("#arrow-button").addClass('fa-chevron-circle-up').removeClass('fa-chevron-circle-down');
  });
  $('#collapse-cart').on('hidden.bs.collapse', function() {
    $("#arrow-button").addClass('fa-chevron-circle-down').removeClass('fa-chevron-circle-up');
  });
});
</script>

