<footer id="footer" class="footer-1">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 850 185"><path fill="#ffd700" fill-opacity="1" d="M0,160L40,138.7C80,117,160,75,240,80C320,85,400,139,480,149.3C560,160,640,128,720,133.3C800,139,880,181,960,213.3C1040,245,1120,267,1200,250.7C1280,235,1360,181,1400,154.7L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>

    <div class="main-footer widgets-dark typo-light">
        <div class="container text-center">
            <div class="row">
    
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h6 class="widget-title">About MagicBus</h6>
                        <p>MagicBus is a school bus turned into a hotel, travelling all around Europe !</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h6 class="widget-title">Quick Links</h6>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><%= link_to "Discover", discover_path %></div>	
                            </li>

                            <li>
                                <div class="thumb-content"><%= link_to "Story", story_path %></div>	
                            </li>

                            <li>
                                <div class="thumb-content"><%= link_to "Share", places_path %></div>	
                            </li>

                            <li>
                                <div class="thumb-content"><%= link_to "Travel", trips_path %></div>	
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <% if user_signed_in? %>
                            <h6 class="widget-title">My Account</h6>
                            <ul>
                                <li>
                                    <%= link_to "Edit Account", edit_user_registration_path, remote: true %>
                                </li>
                                <li>
                                    <%= link_to "My Cart", cart_path(@cart) %>
                                </li>                       
                                <% unless current_user.orders.empty? %>
                                <li>
                                    <%= link_to "My Bookings", orders_path %>
                                </li>
                                <% end %>
                                <li>
                                    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                                </li>        
                            </ul>
                        <% else %>
                            <h6 class="widget-title">Get Started</h6>
                            <ul>
                                <li>
                                    <%= link_to "Register", new_user_registration_path, remote: true %>
                                </li>
                                <li>
                                    <%= link_to "Log In", user_session_path, remote: true %>
                                </li>
                            </ul>
                        <% end %>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">

                        <h6 class="widget-title">Contact Us</h6>

                        <p><a href="mailto:hello@magicbusworld.com">hello@magicbusworld.com</a></p>
                        
                        <ul class="social-footer2">
                            <li>
                                <%= link_to("https://www.facebook.com/magicbusworld", target: "_blank")  do %>
                                    <%= fa_icon "facebook-square 2x" %>
                                <% end %>
                            </li>
                            <li>
                            <%= link_to("https://www.instagram.com/magicbusworld/", target: "_blank") do %>
                            <%= fa_icon "instagram 2x" %>
                            <% end %>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
  
    <div class="footer-copyright">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 small my-auto">
                    <%= link_to do %>
                        <p>Terms & Conditions</p>
                    <% end %>
                </div>
                <div class="col-sm-6 text-center small my-auto">
                    <p>Copyright MagicBus © <%= Date.current.year %>. All rights reserved.</p>
                </div>
                <div class="col-sm-3 text-right small my-auto">
                    <p>Made with
                    <%= link_to "https://rubyonrails.org/", target: "_blank" do %>
                        <%= image_tag "https://devstickers.com/assets/img/cat/ruby.png", size: "28x28" %>
                    <% end %>
                    by <%= link_to "Paul", "http://paultrindinh.com", target: "_blank", style: "color: azure;" %></p>
                </div>
            </div>
        </div>
    </div>

</footer>