<nav id="navbar" class="navbar navbar-dark navbar-expand-lg">

  <%= link_to root_path, class: "navbar-brand p-0" do %>
    <%= image_tag("/images/logo_navbar.png", style: "width: 190px;") %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">

    <% unless current_page?(root_url) %>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item adventpro">
          <%= link_to discover_path, class:"nav-link mx-4" do %>
            <span class="m-0"><%= t('nav.discover') %></span>
          <% end %>
        </li>
        <li class="nav-item adventpro">
          <%= link_to trips_path, class:"nav-link mx-4" do %>
            <span class="m-0"><%= t('nav.travel') %></span>
          <% end %>
        </li>
        <li class="nav-item adventpro">
          <%= link_to places_path, class:"nav-link mx-4" do %>
            <span class="m-0"><%= t('nav.share') %></span>
          <% end %>
        </li>
        <li class="nav-item adventpro">
          <%= link_to story_path, class:"nav-link mx-4" do %>
            <span class="m-0"><%= t('nav.story') %></span>
          <% end %>
        </li>
      </ul>
    <% end %>

    <ul class="navbar-nav">

      <% if user_signed_in? %>

        <li class="nav-item dropdown">
          <a class="nav-link adventpro" href="#" id="navbarDropdownMagicMe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.picture.attached? %>
                  <%= image_tag(current_user.picture, height: 18, width: 18, style: "border-radius:20px;") %>
              <% else %>
                <%= fa_icon "user" %>
              <% end %>
              Magic<%= current_user.first_name %>
              <%= fa_icon "caret-down" %>
          </a>

          <div class="dropdown-menu animate slideIn px-2" aria-labelledby="navbarDropdownMagicMe">
            <%= link_to(edit_user_registration_path, remote: true, class:"close-navbar dropdown-item m-0 adventpro text-center") do %>
              <%= t('nav.my_account') %>
            <% end %>

            <% unless current_user.orders.empty? %>
                <%= link_to orders_path, class:"dropdown-item m-0 adventpro text-center" do %>
                  <%= t('nav.my_bookings') %>
                <% end %>
            <% end %>

            <%= link_to cart_path(@cart), class:"dropdown-item m-0 adventpro text-center" do %>
              <span id="my-cart-counter">
                <%= render partial: "layouts/cart-counter" %>
              </span>
            <% end %>

            <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item m-0 adventpro text-center" do %>
              <%= t('nav.log_out') %>
            <% end %>
          </div>
        </li>

      <% else %>

        <li class="nav-item dropdown">
          <a class="nav-link adventpro" href="#" id="navbarDropdownMagicMe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MagicMe
                <%= fa_icon "caret-down" %>
          </a>

          <div class="dropdown-menu animate slideIn px-2" aria-labelledby="navbarDropdownMagicMe">
              <%= link_to new_user_registration_path, class:"close-navbar dropdown-item m-0 adventpro text-center", remote: true do %>
                <span class="m-0"><%= t('nav.create_account') %></span>
              <% end %>
              <%= link_to user_session_path, class:"close-navbar dropdown-item m-0 adventpro text-center", remote: true do %>
                <span class="m-0"><%= t('nav.log_in') %></span>
              <% end %>
          </div>
        </li>
  
      <% end %>
    </ul>

    <ul class="navbar-nav">

      <% if user_signed_in? && current_user.admin? %>
          <%= link_to rails_admin.dashboard_path(locale: nil), class: "btn btn-danger my-auto" do %>
            <span class="m-0 adventpro">ADMIN PAGE</span>
          <% end %>
      <% end %>

      <%= link_to trips_path, class:"form-inline btn btn-stylised my-auto mx-4" do %>
        <span class="mx-3 adventpro"><%= t('nav.book_now') %></span>
      <% end %>

      <% if I18n.locale == :fr %>
        <li class="nav-item">
          <%= link_to({:locale=> nil}, class:"nav-link") do %>
            <%= flag_icon(:gb) %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to({:locale=>'fr'}, class:"nav-link") do %>
            <%= flag_icon(:fr) %>
          <% end %>
        </li> 
      <% end %>

    </ul>

  </div>
</nav>


