<div class="card login-form">
    
<h1 class="card-header adventpro yellow text-center display-5"><%= t("stripe_form.order_no") %> <%= order.name %></span></h1>
    <div class="card-body">
        <div id="close-button"></div>

        <%= form_with url: order_new_payment_path(order), local: true, id: "payment-form", data: { payment_intent_id: @payment_intent.client_secret } do |form| %>

            <div class="group-stripe text-center">
                <h4 class="py-2"><%= t("stripe_form.billing_details") %></h4>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="group-stripe">
                        <label>
                            <span>Email</span>
                            <input id="email" name="email" class="field" value="<%= current_user.email %>" />
                        </label>
                        <label>
                            <span><%= t("stripe_form.card_no") %></span>
                            <div id="card-number" class="field"></div>
                        </label>
                        <label>
                            <span><%= t("stripe_form.card_exp") %></span>
                            <div id="card-expiry" class="field"></div>
                        </label>
                        <label>
                            <span><%= t("stripe_form.card_cvc") %></span>
                            <div id="card-cvc" class="field"></div>
                        </label>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                    <div class="group-stripe">
                        <label>
                            <span><%= t("general_forms.name") %></span>
                            <input id="name-card" name="name" class="field" placeholder="Jean Dupont" />
                        </label>
                        <label>
                            <span><%= t("stripe_form.address") %></span>
                            <input id="address-line1" name="address_line1" class="field" placeholder="1 Rue Dupont" />
                        </label>
                        <label>
                            <span><%= t("stripe_form.city_name") %></span>
                            <input id="address-city" name="address_city" class="field" placeholder="Paris" />
                        </label>
                        <label>
                            <span><%= t("stripe_form.zip_code") %></span>
                            <input id="address-zip" name="address_zip" class="field" placeholder="75001" />
                        </label>
                    </div>
                </div>
            </div>

        <div id="card-errors" class="text-center alert alert-danger" role="alert"></div>

        <div class="container-fluid text-center">
            <%= form.hidden_field :payment_intent_id, value: @payment_intent.id %>
            <button type="submit" class="stripe-button mb-3 mt-1"><b><%= t("stripe_form.pay_btn") %> <%= order.total_price_calc %>€</b></button>  
        </div>

        <% end %>
        
    </div>
</div>

