<!DOCTYPE html>
<html>
  <head>

    <title>Magicbus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag '/images/icon_logo.ico' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials[:google_maps_api_key]}&libraries=places" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script> 

    <%= javascript_include_tag "https://js.stripe.com/v3/" %>

    <%= tag :meta, name: "stripe-public-key", content: ENV['PUBLISHABLE_KEY'] %>

    <%= yield(:head_tags) %>

  </head>

  <body>

    <div id="login-form">

    </div>

    <%= render "layouts/navbar" %>

    <%= render "layouts/notice" %>

    <%= render 'cookies_eu/consent_banner' %>

    <%= yield %>

  </body>

  <% unless current_page?(root_path) %>
    <%= render "layouts/footer" %>
  <% end %>

</html>
